<apex:page sidebar="false" controller="BSMIConfigController">
    
    <apex:form >
        <apex:pageBlock title="Featured Event and Product" id="settingDetails">
            
            <apex:pageBlockSection title="Cardio">
                
                <apex:inputField value="{!ObjBostonScientificConfig.Boston_AuthHome_Cardio_FeaturedEvent_Id__c}" label="Cardio Featured Event Id"/>
                <apex:inputField value="{!ObjBostonScientificConfig.Boston_AuthHome_Cardio_FeaturedPrduct_Id__c}" label="Cardio Featured Product Id" />
            </apex:pageBlockSection>
            
            <apex:pageBlockSection title="Endo">
                
                <apex:inputField value="{!ObjBostonScientificConfig.Boston_AuthHome_Endo_FeaturedEvent_Id__c}" label="Endo Featured Event Id"/>
                <apex:inputField value="{!ObjBostonScientificConfig.Boston_AuthHome_Endo_FeaturedPrduct_Id__c}" label="Endo Featured Product Id" />
            </apex:pageBlockSection>
            
            <apex:pageBlockButtons location="both">
                <apex:commandButton value="Save" action="{!save}" />
                <apex:commandButton value="Cancel" onclick="window.location.reload(true);" rerender="settingDetails" />
            </apex:pageBlockButtons>
            
        </apex:pageBlock>
    </apex:form>
</apex:page>