<apex:page id="forgotPassword" showHeader="false" controller="ForgotPasswordController" title="{!$Label.site.forgot_password}">
    <apex:composition template="BSC_SiteTemplate">
    <apex:define name="body">
     <div id="forgotPassword">
        <div class="grey-background">
          <div class="container">
            <div class="breadcrumb">
              <a href="{!$Site.prefix}/AuthenticatedHomePage">{!$Label.Boston_Breadcrumbs_Home}</a> > {!$Label.site.change_password}
            </div>
            <div class="introTxt">
              <h2> <apex:outputText styleClass="title" value="{!$Label.site.enter_password}"/></h2>
            </div>
            <section> 
                  <apex:form id="theForm">
                    <apex:pageMessages id="error"/>
                         <div class="form-group row">
                         <label class="col-sm-2 form-control-label">
                          <apex:outputLabel rendered="{!$Label.site.username}" for="username"/></label>
                              <div class="col-sm-10">

                              <apex:inputText required="true" id="username" value="{!username}" styleClass="form-control"/>
                              </div>
                              </div>
                          <apex:commandButton id="submit" value="{!$Label.site.submit}" action="{!forgotPassword}"/>
                    </apex:form>
                  </section>
                </div>
              </div>
            </div>
          </apex:define>    
  </apex:composition>
</apex:page>