<apex:page id="changePassword" showHeader="false" controller="ChangePasswordController" title="{!$Label.site.change_password}">
    <apex:composition template="BSC_SiteTemplate">
        <apex:define name="body">
         <div id="changePassword">
            <div class="grey-background">
                <div class="container">
                    <div class="breadcrumb">
              <a href="{!$Site.prefix}/AuthenticatedHomePage">{!$Label.Boston_Breadcrumbs_Home}</a> > {!$Label.site.change_password}
                    </div>

                    <div class="introTxt">
                        <h2><apex:outputText styleClass="title" value="{!$Label.site.change_your_password}"/></h2>
                       
                    </div>
                <section>

                                <apex:form id="theForm">
                                    <apex:pageMessages id="error"/>

                                         <div class="form-group row">
                                        <label class="col-sm-2 form-control-label">
                                                    <apex:outputLabel rendered="{! !$Site.IsPasswordExpired}" value="{!$Label.site.old_password}" for="oldpsw"/></label>
                                <div class="col-sm-4">
                                                    <apex:inputSecret required="true" id="oldpsw" rendered="{! !$Site.IsPasswordExpired}" value="{!oldPassword}" styleClass="form-control"/>
                                </div>
                            </div>


                            <div class="form-group row">
                                        <label class="col-sm-2 form-control-label">
                                    <apex:outputLabel value="{!$Label.site.new_password}" for="psw"/></label>
                                <div class="col-sm-4">
                                    <apex:inputSecret required="true" id="psw" value="{!newPassword}" styleClass="form-control"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                        <label class="col-sm-2 form-control-label">
                                    <apex:outputLabel value="{!$Label.site.verify_new_password}" for="vpsw"/></label>
                                <div class="col-sm-4">
                                    <apex:inputSecret required="true" id="vpsw" value="{!verifyNewPassword}" styleClass="form-control"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                        <label class="col-sm-2 form-control-label">
                                    <apex:outputText value=""/></label>
                                <div class="col-sm-4">
                                    <apex:commandButton id="cpwbtn" action="{!changePassword}" value="{!$Label.site.change_password}" styleClass="btn btn-primary change-password"/>
                                </div>
                            </div>
                                </apex:form>

                </section>
            </div>
        </div>
    </div>
        </apex:define>
    </apex:composition>
</apex:page>