<apex:page showHeader="true" sidebar="false" standardController="copado__Deployment__c" extensions="copado.DeploymentExt,copado.Settings,copado.JsRemotingController" docType="html-5.0" id="thePage">
    
    <head>
        <c:GAnalytics />
        <c:ShowWebhook url="webhook/deploy" recordId="{!copado__Deployment__c.Id}" />
        <apex:includeScript value="{!URLFOR($Resource.copado__Statics, 'js/Cometd.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.copado__Statics,'js/libs/jquery.min.1.10.2.js')}" />
        <apex:includeScript value="{!URLFOR($Resource.copado__Statics,'js/libs/jquery.easytabs.min.js')}" />
        <script type="text/javascript">
        /* NR: NOTE this replaced the apex:includeScript that was not working. */
!function(d,B,m,l){function v(a,b){var c=Math.max(0,a[0]-b[0],b[0]-a[1]),e=Math.max(0,a[2]-b[1],b[1]-a[3]);return c+e}function w(a,b,c,e){var h=a.length;e=e?"offset":"position";for(c=c||0;h--;){var f=a[h].el?a[h].el:d(a[h]),k=f[e]();k.left+=parseInt(f.css("margin-left"),10);k.top+=parseInt(f.css("margin-top"),10);b[h]=[k.left-c,k.left+f.outerWidth()+c,k.top-c,k.top+f.outerHeight()+c]}}function p(a,b){var c=b.offset();return{left:a.left-c.left,top:a.top-c.top}}function x(a,b,c){b=[b.left,b.top];c=
c&&[c.left,c.top];for(var e,h=a.length,d=[];h--;)e=a[h],d[h]=[h,v(e,b),c&&v(e,c)];return d=d.sort(function(a,b){return b[1]-a[1]||b[2]-a[2]||b[0]-a[0]})}function q(a){this.options=d.extend({},n,a);this.containers=[];this.options.rootGroup||(this.scrollProxy=d.proxy(this.scroll,this),this.dragProxy=d.proxy(this.drag,this),this.dropProxy=d.proxy(this.drop,this),this.placeholder=d(this.options.placeholder),a.isValidTarget||(this.options.isValidTarget=l))}function t(a,b){this.el=a;this.options=d.extend({},
z,b);this.group=q.get(this.options);this.rootGroup=this.options.rootGroup||this.group;this.handle=this.rootGroup.options.handle||this.rootGroup.options.itemSelector;var c=this.rootGroup.options.itemPath;this.target=c?this.el.find(c):this.el;this.target.on(r.start,this.handle,d.proxy(this.dragInit,this));this.options.drop&&this.group.containers.push(this)}var r,z={drag:!0,drop:!0,exclude:"",nested:!0,vertical:!0},n={afterMove:function(a,b,c){},containerPath:"",containerSelector:"ol, ul",distance:0,
delay:0,handle:"",itemPath:"",itemSelector:"li",isValidTarget:function(a,b){return!0},onCancel:function(a,b,c,e){},onDrag:function(a,b,c,e){a.css(b)},onDragStart:function(a,b,c,e){a.css({height:a.height(),width:a.width()});a.addClass("dragged");d("body").addClass("dragging")},onDrop:function(a,b,c,e){a.removeClass("dragged").removeAttr("style");d("body").removeClass("dragging")},onMousedown:function(a,b,c){if(!c.target.nodeName.match(/^(input|select)$/i))return c.preventDefault(),!0},placeholder:'<li class="placeholder"/>',
pullPlaceholder:!0,serialize:function(a,b,c){a=d.extend({},a.data());if(c)return[b];b[0]&&(a.children=b);delete a.subContainers;delete a.sortable;return a},tolerance:0},s={},y=0,A={left:0,top:0,bottom:0,right:0};r={start:"touchstart.sortable mousedown.sortable",drop:"touchend.sortable touchcancel.sortable mouseup.sortable",drag:"touchmove.sortable mousemove.sortable",scroll:"scroll.sortable"};q.get=function(a){s[a.group]||(a.group===l&&(a.group=y++),s[a.group]=new q(a));return s[a.group]};q.prototype=
{dragInit:function(a,b){this.$document=d(b.el[0].ownerDocument);this.item=d(a.target).closest(this.options.itemSelector);this.itemContainer=b;!this.item.is(this.options.exclude)&&this.options.onMousedown(this.item,n.onMousedown,a)&&(this.setPointer(a),this.toggleListeners("on"),this.setupDelayTimer(),this.dragInitDone=!0)},drag:function(a){if(!this.dragging){if(!this.distanceMet(a)||!this.delayMet)return;this.options.onDragStart(this.item,this.itemContainer,n.onDragStart,a);this.item.before(this.placeholder);
this.dragging=!0}this.setPointer(a);this.options.onDrag(this.item,p(this.pointer,this.item.offsetParent()),n.onDrag,a);var b=a.pageX||a.originalEvent.pageX;a=a.pageY||a.originalEvent.pageY;var c=this.sameResultBox,e=this.options.tolerance;if(!c||c.top-e>a||c.bottom+e<a||c.left-e>b||c.right+e<b)this.searchValidTarget()||this.placeholder.detach()},drop:function(a){this.toggleListeners("off");this.dragInitDone=!1;if(this.dragging){if(this.placeholder.closest("html")[0])this.placeholder.before(this.item).detach();
else this.options.onCancel(this.item,this.itemContainer,n.onCancel,a);this.options.onDrop(this.item,this.getContainer(this.item),n.onDrop,a);this.clearDimensions();this.clearOffsetParent();this.lastAppendedItem=this.sameResultBox=l;this.dragging=!1}},searchValidTarget:function(a,b){a||(a=this.relativePointer||this.pointer,b=this.lastRelativePointer||this.lastPointer);for(var c=x(this.getContainerDimensions(),a,b),e=c.length;e--;){var d=c[e][0];if(!c[e][1]||this.options.pullPlaceholder)if(d=this.containers[d],
!d.disabled){if(!this.$getOffsetParent()){var f=d.getItemOffsetParent();a=p(a,f);b=p(b,f)}if(d.searchValidTarget(a,b))return!0}}this.sameResultBox&&(this.sameResultBox=l)},movePlaceholder:function(a,b,c,e){var d=this.lastAppendedItem;if(e||!d||d[0]!==b[0])b[c](this.placeholder),this.lastAppendedItem=b,this.sameResultBox=e,this.options.afterMove(this.placeholder,a,b)},getContainerDimensions:function(){this.containerDimensions||w(this.containers,this.containerDimensions=[],this.options.tolerance,!this.$getOffsetParent());
return this.containerDimensions},getContainer:function(a){return a.closest(this.options.containerSelector).data(m)},$getOffsetParent:function(){if(this.offsetParent===l){var a=this.containers.length-1,b=this.containers[a].getItemOffsetParent();if(!this.options.rootGroup)for(;a--;)if(b[0]!=this.containers[a].getItemOffsetParent()[0]){b=!1;break}this.offsetParent=b}return this.offsetParent},setPointer:function(a){a=this.getPointer(a);if(this.$getOffsetParent()){var b=p(a,this.$getOffsetParent());this.lastRelativePointer=
this.relativePointer;this.relativePointer=b}this.lastPointer=this.pointer;this.pointer=a},distanceMet:function(a){a=this.getPointer(a);return Math.max(Math.abs(this.pointer.left-a.left),Math.abs(this.pointer.top-a.top))>=this.options.distance},getPointer:function(a){return{left:a.pageX||a.originalEvent.pageX,top:a.pageY||a.originalEvent.pageY}},setupDelayTimer:function(){var a=this;this.delayMet=!this.options.delay;this.delayMet||(clearTimeout(this._mouseDelayTimer),this._mouseDelayTimer=setTimeout(function(){a.delayMet=
!0},this.options.delay))},scroll:function(a){this.clearDimensions();this.clearOffsetParent()},toggleListeners:function(a){var b=this;d.each(["drag","drop","scroll"],function(c,e){b.$document[a](r[e],b[e+"Proxy"])})},clearOffsetParent:function(){this.offsetParent=l},clearDimensions:function(){this.traverse(function(a){a._clearDimensions()})},traverse:function(a){a(this);for(var b=this.containers.length;b--;)this.containers[b].traverse(a)},_clearDimensions:function(){this.containerDimensions=l},_destroy:function(){s[this.options.group]=
l}};t.prototype={dragInit:function(a){var b=this.rootGroup;!this.disabled&&!b.dragInitDone&&this.options.drag&&this.isValidDrag(a)&&b.dragInit(a,this)},isValidDrag:function(a){return 1==a.which||"touchstart"==a.type&&1==a.originalEvent.touches.length},searchValidTarget:function(a,b){var c=x(this.getItemDimensions(),a,b),e=c.length,d=this.rootGroup,f=!d.options.isValidTarget||d.options.isValidTarget(d.item,this);if(!e&&f)return d.movePlaceholder(this,this.target,"append"),!0;for(;e--;)if(d=c[e][0],
!c[e][1]&&this.hasChildGroup(d)){if(this.getContainerGroup(d).searchValidTarget(a,b))return!0}else if(f)return this.movePlaceholder(d,a),!0},movePlaceholder:function(a,b){var c=d(this.items[a]),e=this.itemDimensions[a],h="after",f=c.outerWidth(),k=c.outerHeight(),g=c.offset(),g={left:g.left,right:g.left+f,top:g.top,bottom:g.top+k};this.options.vertical?b.top<=(e[2]+e[3])/2?(h="before",g.bottom-=k/2):g.top+=k/2:b.left<=(e[0]+e[1])/2?(h="before",g.right-=f/2):g.left+=f/2;this.hasChildGroup(a)&&(g=A);
this.rootGroup.movePlaceholder(this,c,h,g)},getItemDimensions:function(){this.itemDimensions||(this.items=this.$getChildren(this.el,"item").filter(":not(.placeholder, .dragged)").get(),w(this.items,this.itemDimensions=[],this.options.tolerance));return this.itemDimensions},getItemOffsetParent:function(){var a=this.el;return"relative"===a.css("position")||"absolute"===a.css("position")||"fixed"===a.css("position")?a:a.offsetParent()},hasChildGroup:function(a){return this.options.nested&&this.getContainerGroup(a)},
getContainerGroup:function(a){var b=d.data(this.items[a],"subContainers");if(b===l){var c=this.$getChildren(this.items[a],"container"),b=!1;c[0]&&(b=d.extend({},this.options,{rootGroup:this.rootGroup,group:y++}),b=c[m](b).data(m).group);d.data(this.items[a],"subContainers",b)}return b},$getChildren:function(a,b){var c=this.rootGroup.options,e=c[b+"Path"],c=c[b+"Selector"];a=d(a);e&&(a=a.find(e));return a.children(c)},_serialize:function(a,b){var c=this,e=this.$getChildren(a,b?"item":"container").not(this.options.exclude).map(function(){return c._serialize(d(this),
!b)}).get();return this.rootGroup.options.serialize(a,e,b)},traverse:function(a){d.each(this.items||[],function(b){(b=d.data(this,"subContainers"))&&b.traverse(a)});a(this)},_clearDimensions:function(){this.itemDimensions=l},_destroy:function(){var a=this;this.target.off(r.start,this.handle);this.el.removeData(m);this.options.drop&&(this.group.containers=d.grep(this.group.containers,function(b){return b!=a}));d.each(this.items||[],function(){d.removeData(this,"subContainers")})}};var u={enable:function(){this.traverse(function(a){a.disabled=
!1})},disable:function(){this.traverse(function(a){a.disabled=!0})},serialize:function(){return this._serialize(this.el,!0)},refresh:function(){this.traverse(function(a){a._clearDimensions()})},destroy:function(){this.traverse(function(a){a._destroy()})}};d.extend(t.prototype,u);d.fn[m]=function(a){var b=Array.prototype.slice.call(arguments,1);return this.map(function(){var c=d(this),e=c.data(m);if(e&&u[a])return u[a].apply(e,b)||this;e||a!==l&&"object"!==typeof a||c.data(m,new t(c,a));return this})}}(jQuery,
window,"sortable");</script>
        
        <apex:includeScript value="{!URLFOR($Resource.copado__Statics,'js/urlcallout.js')}" />
        <script> var $copado = jQuery.noConflict(); </script>

        <script type="text/javascript">
            var __sfdcSessionId = '{!GETSESSIONID()}';
        </script>
        <script src="/soap/ajax/32.0/connection.js"></script>
        <script type="text/javascript">
            delete Array.prototype.remove;
        </script>

        <c:WizardUtils />
        <apex:stylesheet value="{!URLFOR($Resource.copado__jqx,'jqwidgets/styles/jqx.base.css')}" />
        <apex:includeScript value="{!URLFOR($Resource.copado__jqx,'jqwidgets/jqx-all.js')}" />
        <apex:includeScript value="{!URLFOR($Resource.copado__Statics, 'js/json2.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.copado__Statics, 'js/jquery.cometd.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.copado__Statics,'js/copadoStreamingService.js')}" />

        <apex:stylesheet value="{!URLFOR($Resource.copado__Statics,'css/wizard.css')}" />
        <apex:includeScript value="{!URLFOR($Resource.copado__Statics,'js/deployment.js')}" />
        <apex:includeScript value="{!URLFOR($Resource.copado__Statics,'js/deploymentStreamingService.js')}" />
    </head>

<div id="screenLocker" ><p><img src="/img/loading.gif" />  {!$Label.LOADING}</p></div>





<div class="fixedMsg" tyle="display:none;" id="msg">
    
</div>

<div style="display:none;">
    <apex:pageMessage title="{!$Label.copado__WARNING}" summary="__MSG__" severity="warning" strength="3" id="js-msg-WARNING" />
    <apex:pageMessage title="{!$Label.copado__SUCCESS}" summary="__MSG__" severity="confirm" strength="3" id="js-msg-CONFIRM" />
    <apex:pageMessage title="{!$Label.copado__ERROR}" summary="__MSG__" severity="error" strength="3" id="js-msg-ERROR" />
</div>


 <apex:outputPanel style="display:none;" id="pJSConfig">
 <script language="javascript">
    //TODO: move this to unique object
    var rock = rock || {};
    rock.config = {
        sobjects_url : '{!JSENCODE(sobjects_url)}',
        metadata_url : '{!JSENCODE(metadata_url)}',
        testquery_url : '{!JSENCODE(testquery_url)}',
        users_url : '{!JSENCODE(users_url)}',
        describe_url : '{!JSENCODE(describe_url)}',
        cancel_url: '{!JSENCODE(cancel_url)}',
        custom_settings_url: '{!JSENCODE(custom_settings_url)}',
        quick_actions_url: '{!JSENCODE(quick_actions_url)}',
        git_metadata_url: '{!JSENCODE(git_metadata_url)}'
    };
    rock.deploymentId = '{!dep.id}';
    rock.org__c = '{!dep.copado__From_Org__c}'; 
    rock.selectedNames = [];
    copadoApp.data.dep = {!DepJson};
    copadoApp.data.destinations = {!destinationsJson};
    copadoApp.orgFiltered = {!orgFiltered};
    copadoApp.fromValid = {!fromValid};
    console.log('jsconfig , redirectToDeploy', copadoApp.redirectToDeploy)
    copadoApp.redirectToDeploy && copadoApp.deploy() ;
    copadoApp.starded && copadoApp.checkDeploymentStage();
    copadoApp.ns = '{!namespace}';
    deploymentStreamingService.ns = copadoApp.ns;

    $copado( document ).ready(function() {
        deploymentStreamingService.ns = copadoApp.ns;
        copadoStreamingService.init();
        $copado.cometd.subscribe('/topic/CopadoNotifications', function(message) {
            console.info('Push message: ', message);
            deploymentStreamingService.readStream(message);
        });
        window.onbeforeunload = copadoStreamingService.disconnect;
    });
     
    //TODO move this to header
    copadoApp.res = {
        imgs: {
            view: "{!URLFOR($Resource.copado__Statics,'img/icons/view.png')}",
            save: "{!URLFOR($Resource.copado__Statics,'img/icons/save.png')}",
        }
    };
</script>   
 </apex:outputPanel>

 

<div id="body">
    <c:IframeLocker url="/apex/deploymentStatus?id={!dep.Id}" />
                
    <apex:sectionHeader id="sectionHeader" title="{!$ObjectType.copado__Deployment__c.Label} {!$Label.copado__EDIT}" subtitle="{!IF(ISBLANK(dep.Name),$Label.copado__NEW+' '+ $ObjectType.copado__Deployment__c.Label ,dep.Name)}" />
        <!--a href="#" onClick="copadoApp.toggleChatter();" style="float:right;margin-top:-35px;    " >Chatter</a-->
    

    <apex:outputPanel id="chatter" layout="block">
        <chatter:feedWithFollowers entityId="{!dep.id}" showHeader="true" />  
    </apex:outputPanel>

    <div id="form">
        <apex:form id="theForm">


        <div class="row">
          <apex:panelGrid id="theGrid" columns="2" style="width:100%;" columnClasses="co-info-panel">
                <apex:pageblock title="Information" id="pbInformation" >
                        <apex:pageBlockButtons id="pbbInfo" location="top">
                            <apex:commandButton id="btnDeploymentSave" value="{!$Label.site.save}"  onclick="copadoApp.dirty=false;" action="{!saveDeployment}" rerender="pbInformation,msg,pJSConfig" />
                            <apex:commandButton id="btnDeploymentCancel" value="{!$Label.site.cancel}" action="{!cancel}" onclick="copadoApp.cancel();return false;"/>
                             <apex:commandButton id="btnDeploymentDelete" action="{!delete}" value="{!$Label.copado__DELETE}" onclick="return confirm(copadoLabels.ARE_YOU_SURE);"/>
                            <apex:commandButton id="btnDeploymentClone" action="{!URLFOR($Action.Deployment__c.Clone,dep.Id)}" value="{!$Label.copado__CLONE}" rerender="pbInformation" disabled="{!ISBLANK(dep.Id)}"/>
                            <apex:commandButton id="btnDeploymentShare" action="{!URLFOR($Action.Deployment__c.Share,dep.Id)}" value="{!$Label.copado__SHARE}" disabled="{!ISBLANK(dep.Id)}"/>
                        </apex:pageBlockButtons>
                    <apex:pageBlockSection id="pbs_pbi1" columns="2">

                        <apex:inputField value="{!dep.Name}" required="true" id="ifName"/>
                        
                        <apex:outputPanel />

                        <apex:inputField value="{!copado__Deployment__c.copado__Send_Deployment_Complete_email__c}" id="ifSendDeploymentCompleteEmail" />

                        <apex:outputPanel />

                        <apex:inputField value="{!dep.copado__From_Org__c}" required="false" id="ifFrom" >
                            <apex:actionSupport event="onchange" onsubmit="copadoApp.lock();copadoApp.dirty=false;" action="{!validateFromOrg}" 
                                    rerender="pFromOrgStatus,pJSConfig,msg,pbInformation"  />
                        </apex:inputField>
                        
                        <apex:outputPanel id="pFromOrgStatus">
                            <div class="">
                                <c:OrgStatusIcons id="cmpOrgStatusIconsFromOrg" rendered="{!!ISBLANK(fromOrg)}"
                                    porg="{!fromOrg}"
                                />
                                <script type="text/javascript">copadoApp.unlock();</script>
                            </div>
                        </apex:outputPanel>

                        <apex:outputPanel />

                    </apex:pageBlockSection>

                    <apex:pageBlockSection columns="2" id="pbsDestinations">
                        
                        <apex:repeat id="rptDestOrgs" var="destination" value="{!destinations}" > 

                            <apex:outputField id="ofToOrg" value="{!destination.copado__To_Org__c}" rendered="{!!ISBLANK(destination.Id)}" styleClass="js-destination"/>
                            
                            <apex:outputPanel id="pnlToWrapper" rendered="{!!ISBLANK(destination.Id)}">
                                <div class="">
                                    <c:OrgStatusIcons id="cmpOrgStatusIconsToOrg" pdestination="{!destination}" />
                                    
                                    <a href="#"  onclick="copadoApp.lock(); deleteDestOrg('{!destination.copado__To_Org__c}')"><span>{!$Label.copado__DELETE}</span></a>
                                </div>
                            </apex:outputPanel>

                            <apex:inputField styleClass="js-new-destination" value="{!destination.copado__To_Org__c}" required="false" id="ifTo" rendered="{!ISBLANK(destination.Id) && !ISBLANK(dep.Id)}" >
                                <apex:actionSupport event="onchange" onsubmit="copadoApp.lock();copadoApp.dirty=false;" action="{!saveDestination}" 
                                    rerender="pbsDestinations,msg,pJSConfig"  />
                            </apex:inputField>

                            <apex:outputPanel rendered="{!ISBLANK(destination.Id)}" />

                        </apex:repeat>


                        <!--<apex:outputPanel layout="block" rendered="{!ISBLANK(dep.Id)}"><i> </i></apex:outputPanel>
                        <apex:outputPanel layout="block" rendered="{!ISBLANK(dep.Id)}"><i> </i></apex:outputPanel>-->



                       
                        <apex:outputPanel id="pnlAddDestinationOrg" layout="block" rendered="{!!ISBLANK(dep.Id)}">
                            <a id="lnkAddDestinationOrg" href="javascript:void(0);" onclick="copadoApp.checkOneNewDestination();return false;" ><span>{!$Label.ADD_DESTINATION_ORG}</span></a>   
                        </apex:outputPanel>

                        <apex:outputPanel layout="block">
                        <script type="text/javascript">
                            copadoApp.mirrorBlockHeight();
                            copadoApp.unlock();
                        </script>
                        </apex:outputPanel>

                        

                        <apex:actionRegion id="actionPbInformation">
                            <apex:actionFunction action="{!addDestination}" name="addDestination" reRender="pbsDestinations,msg,rlDeploymentHistory" />

                            <apex:actionFunction action="{!saveDeployment}" name="saveDeployment" rerender="pbInformation,msg,pJSConfig,rlDeploymentHistory" />

                            

                            <apex:actionFunction action="{!save}" name="save" reRender="pbInformation,msg,rlDeploymentHistory" />
                        
                             <apex:actionFunction action="{!deleteDestOrg}" name="deleteDestOrg" reRender="msg,pbsDestinations,rlDeploymentHistory">
                                <apex:param name="selectedToOrg" assignTo="{!selectedToOrg}" value=""/>
                            </apex:actionFunction>
                        </apex:actionRegion>
                        
                    </apex:pageBlockSection>
                    <apex:outputPanel id="pnlMsgSaveDeployment" layout="block" rendered="{!ISBLANK(dep.Id)}">
                            <center><i class="empty-msg">{!$Label.copado__SAVE_DEPLOYMENT_TO_ADD_DESTINATION_ORGS}</i></center>
                    </apex:outputPanel>

                    <apex:pageBlockSection columns="1" title="{!$Label.copado__OTHER_INFORMATION}" rendered="{!showOtherInformation}">
                      <apex:repeat value="{!$ObjectType.copado__Deployment__c.FieldSets.copado__CustomFields}" var="f"> 
                          <apex:inputField value="{!copado__Deployment__c[f]}" required="{!OR(f.required, f.dbrequired)}"/>
                      </apex:repeat>
                    </apex:pageBlockSection>
                        

                    
                </apex:pageblock>
                
                <apex:pageblock title="Status" id="pbStatus" >
                    <apex:pageBlockButtons id="pbbStatus" location="top">
                        <apex:commandButton value="{!$Label.copado__DEPLOY}" onclick="copadoApp.deploy();return false;" id="btnDeploy"/>
                        <apex:commandButton value="{!$Label.copado__CANCEL_DEPLOYMENT}" onclick="copadoApp.cancelDeploy();return false;" id="btnCancelDeploy"/>
                        <input id="btnViewStatus" type="button" class="btn" style="display:none" value="{!$Label.VIEW_DEPLOYMENT_STATUS}" onclick="openIframeBox()" />
                        <button id="btnShowHookUrl" value="Show Hook URL" onclick="showWebhook(); return false;">Show Hook URL</button>
                    </apex:pageBlockButtons>
                    
                    <apex:pageBlockSection id="pbsPbStatus" columns="1">
                        <apex:outputField id="ofStatus" value="{!dep.copado__Status__c}">
                            <span class="orgIcon js-status-icon"><apex:outputText value="{!dep.copado__Flag_Status__c}" escape="false"/></span>
                        </apex:outputField>
                        <apex:outputField id="ofDate" value="{!dep.copado__Date__c}" />
                        <apex:outputField id="ofCompleted" value="{!dep.copado__Completed__c}" />
                        <apex:outputField id="ofPromotion" value="{!dep.copado__Promotion__c}" rendered="{!NOT(ISBLANK(copado__Deployment__c.copado__Promotion__c))}" />
                        <apex:outputField id="ofBT" value="{!copado__Deployment__c.Build_Task__r.Name}" rendered="{!NOT(ISBLANK(copado__Deployment__c.copado__Build_Task__c))}" />
                        <apex:outputField id="ofCI" value="{!copado__Deployment__c.Build_Task__r.copado__Continuous_Integration__c}" rendered="{!NOT(ISBLANK(copado__Deployment__c.copado__Build_Task__c))}" />
                        <apex:outputField id="ofLastModifiedByID" value="{!dep.LastModifiedByID}" />
                        <apex:outputField id="ofLastModifiedDate" value="{!dep.LastModifiedDate}" />
                        <!--apex:inputField value="{!dep.Deployment_command_sent__c}" /-->
                        
                    </apex:pageBlockSection>
                </apex:pageblock>
            </apex:panelGrid>
        </div>

        </apex:form>

        
        <div class="row">
            
            <apex:pageblock title="Steps" id="pbSteps" >
            <apex:form id="theForm2">
                <div>
                    <a id="js-action-AddStep" class="iconAction" href="javascript:void(0);">{!$Label.ADD_STEP}</a>
                </div>

                
                <!--- STEP TABLE -->
                <table class="list js-stepList" id="tSteps" style="margin-top:20px;" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <thead class="">
                        <tr class="headerRow">
                            <th class="headerRow" scope="col" colspan="1" >
                                <div >{!$Label.ACTION_COLUMN_HEADER}</div>
                            </th>
                            <th class="headerRow" scope="col" colspan="1" >
                                <div >{!$ObjectType.Step__c.fields.Name.Label}</div></th>
                            <th class="headerRow" scope="col" colspan="1" >
                                <div >{!$ObjectType.Step__c.fields.Type__c.Label}</div>
                            </th>
                            <th class="headerRow" scope="col" colspan="1" >
                                <div >{!$ObjectType.Step__c.fields.CheckOnly__c.Label}</div>
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody id="tSteps-tb">
                        <tr class="dataRow js-row" style="display:none;">
                            <td class="dataCell" colspan="1">
                                <div class="js-col-actions">
                                    <img id="imgDrag" class="orgIcon iconDrag" src="{!URLFOR($Resource.Statics,'img/icons/updown.png')}" title="{!$Label.DRAG_TO_REORDER_STEP}" />
                                    <img id="imgView" class="iconAction js-action-selectStep" title="{!$Label.CLICK_FOR_STEP_DETAILS}" src="{!URLFOR($Resource.Statics,'img/icons/view.png')}"/>
                                    <img id="imgDelete" class="orgIcon iconAction" onclick="copadoApp.deleteStep( $copado(this))" src="{!URLFOR($Resource.Statics,'img/icons/remove.png')}" title="{!$Label.CLICK_TO_REMOVE_STEP}"/>
                                </div>
                            </td>
                            <td class="dataCell  js-col-name" colspan="1">
                                <input style="display:none" class="js-step-name"  maxlength="80" size="20" type="text" value="Step 1" />
                                <span class="js-step-name">Step 1</span>
                            </td>
                            <td class="dataCell  js-col-type" colspan="1">
                                <select class="js-step-type" data-stepid="" >
                                    <option value="0" selected="selected">{!$Label.NONE_SELECTED}</option>
                                    <option value="MetaData" >{!$Label.STEP_TYPE_METADATA}</option>
                                    <option value="Full Profiles">{!$Label.STEP_TYPE_FULL_PROFILES}</option>
                                    <option value="Full Permission Sets">{!$Label.STEP_TYPE_FULL_PERMISSION_SETS}</option>
                                    <option value="Users">{!$Label.STEP_TYPE_USERS}</option>
                                    <option value="Translations">{!$Label.STEP_TYPE_TRANSLATIONS}</option>
                                    <option value="Data">{!$Label.STEP_TYPE_DATA}</option>
                                    <option value="Bulk Data">{!$Label.STEP_TYPE_BULK_DATA}</option>
                                    <option value="Delete MetaData">{!$Label.STEP_TYPE_DELETE_METADATA}</option>
                                    <option value="Custom Settings">{!$Label.copado__STEP_TYPE_CUSTOM_SETTINGS}</option>
                                    <option value="Apex">{!$Label.STEP_TYPE_APEX}</option>
                                    <option value="Manual Task">{!$Label.STEP_TYPE_MANUAL_TASK}</option>
                                    <option value="Git MetaData">{!$Label.STEP_TYPE_GIT_METADATA}</option>
                                    <option value="Quick Actions">{!$Label.copado__STEP_TYPE_QUICK_ACTIONS}</option>
                                    <option value="URL Callout">{!$Label.STEP_TYPE_URL_CALLOUT}</option>
    
                                    
                                </select>
                            </td>
                            <td class="dataCell  js-col-check" colspan="1">
                                <input class="js-step-check" type="checkbox" value="1" disabled="disabled" />
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
                <!--- END STEP TABLE -->

                
            
        <apex:actionFunction name="reloadHistory" rerender="rlDeploymentHistory" />      
        </apex:form>
        <div class="row" >
            <!--apex:pageblock title="Step Detail: " id="pbStepDetail" -->
                <div id="tab-container" class="tab-container">
                  <ul class='etabs'>
                    <li class='tab'><a href="#stepDetail" id="tab-stepDetail">Details</a></li>
                    <li class='tab'><a href="#stepResult" id="tab-stepResult">Result</a></li>
                  </ul>
                  <div class="panel-container"> 
                      <div id="stepDetail">
                        <apex:form id="theForm3">
                             <c:StepEdition />
                        </apex:form>
                           
                      </div>
                      <div id="stepResult">
                        <center><i class="empty-msg">{!$Label.CLICK_DEPLOYMENT_JOB_TO_VIEW_RESULTS}</i></center>
                      </div>
                    </div>  
                </div>

            <!--/apex:pageblock-->
        </div>
        
        </apex:pageblock>
        </div>

        <div class="row">
            <apex:relatedList list="Copado_Deployment_History__r" id="rlDeploymentHistory" rendered="{!historyVisible}" />
            <apex:relatedList list="CombinedAttachments" />
        </div>
    </div>

</div>

    

    <!--apex:detail  subject="{!dep.Id}" relatedList="false" title="false" /-->
    
    
    <script type="text/javascript">
        ga('send', 'event', 'Deployment', 'view','loading');
        copadoApp.start({!DepJson},{!stepsJson});
        ga('send', 'event', 'Deployment', 'view','loaded');
    </script>

    <apex:outputPanel id="msg"> 
    <script type="text/javascript">
    $copado(function(){
        try{
            var apexMessagesQueue = {!jsonMessagesQueue};
            copadoApp&&copadoApp.consumeApexMessageQueue(apexMessagesQueue);
            console.log('msg rerender from apex', apexMessagesQueue);
            
            if(copadoApp.data.dep){
                if(copadoApp.data.dep[copadoApp.ns+'Status__c']!='' && copadoApp.data.dep[copadoApp.ns+'Status__c']!='Draft'){
                    $copado('#btnViewStatus').show();
                }
                else{
                    $copado('#btnViewStatus').hide();
                }
            }
        }catch(e){console.error(e)}
    });
    </script>
    <!-- preload and catch -->
    <img src="{!URLFOR($Resource.Statics,'img/icons/view.png')}" style="display:none;" />
    <img src="{!URLFOR($Resource.Statics,'img/icons/save.png')}" style="display:none;" />
    <img src="{!URLFOR($Resource.Statics,'img/icons/remove.png')}" style="display:none;" />
    <img src="{!URLFOR($Resource.Statics,'img/icons/updown.png')}" style="display:none;" />
</apex:outputPanel> 

<apex:includeScript value="{!URLFOR($Resource.copado__Statics, 'js/Cometd.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.copado__Statics, 'js/json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.copado__Statics, 'js/jquery.cometd.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.copado__Statics, 'js/copadoStreamingService.js')}" />
<apex:includeScript value="{!URLFOR($Resource.copado__Statics, 'js/statusManager.js')}" />
<apex:includeScript value="{!URLFOR($Resource.copado__Statics, 'js/utilsV2.js')}"/>
    
<!--c:ScreenLocker msg="{!$Label.LOADING}" /-->    

<script type="text/javascript">
    
    copadoApp.startStatusManager = function(cb){
    
        if(copadoApp._statusManagerStarted)return;
    
        copadoApp._statusManagerStarted = true;
        copadoStreamingService.ns = '{!namespace}';
        copadoStreamingService.init();
        statusManager.ns = '{!namespace}';
        statusManager.herokuServer = '{!herokuServer}';
        statusManager.urlParameters = '{!urlParameters}';
        statusManager.sessionId = __sfdcSessionId;
       
    };
    copadoApp.bindActions();
</script>

<c:CheckFeaturesComponent />
    <script>
        document.getElementById('copadoIframe').addEventListener('unload', function(){
                    console.log('unloading iframe');
                });
    </script>
</apex:page>