<apex:page controller="CustomerCalendarController" showHeader="false" action="{!init}">

    <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.Boston_fullcalendar_Js, 'fullcalendar_Js/fullcalendar.css')}" />
    <script type="text/javascript" src="{!URLFOR($Resource.Boston_fullcalendar_Js, 'fullcalendar_Js/jquery.js')}"></script>
    <script type="text/javascript" src="{!URLFOR($Resource.Boston_jQuery, 'sr_jQuery/moment.js')}"></script>
    <script type="text/javascript" src="{!URLFOR($Resource.Boston_fullcalendar_Js, 'fullcalendar_Js/fullcalendar.js')}"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script type="text/javascript" >





        $(document).ready(function() {


                var date = new Date();
                var d = date.getDate();
                var m = date.getMonth();
                var y = date.getFullYear();
                var nonAvailableDatesArray = [];


                //Call the fullCallendar method. You can replace the '#calendar' with the ID of the dom element where you want the calendar to go.
                var objCalendar = $('#calendar').fullCalendar({
                    header: {
                        left: '',
                        center: 'prev title next',
                        right: 'month,agendaDay',



                    },


                    defaultView: 'month',
                    selectable: true,
                    selectConstraint: 'businessHours',
                    eventConstraint: 'businessHours',
                    selectHelper: true,
                    // timezone : "local",


                    select: function(start, end) {


                        var startD = new Date(start);
                        var endD = new Date(end);
                        var today = new Date;
                        
                        //  var a = new moment(start);
                        //                     console.log('1========'+a.hour() + ':' + a.minutes() + ':' + a.seconds());
                        //  start = new moment(start);
                        //  end = new moment(end);
                        
                        var eventTitle;
                        var eventStartDt;
                        var eventEndDt;

                        if(startD >= today) {


                                var AppointMentTopicName = document.getElementById('{!$Component.frm.pb.pbSec.AppointMentTopicName}').value;
                                if (AppointMentTopicName) {
                                    
                                    var monthNames = [
                                              "{!$Label.Boston_Month_January}", "{!$Label.Boston_Month_Feburary}", "{!$Label.Boston_Month_March}",
                                              "{!$Label.Boston_Month_April}", "{!$Label.Boston_Month_May}", "{!$Label.Boston_Month_June}", "{!$Label.Boston_Month_July}",
                                              "{!$Label.Boston_Month_August}", "{!$Label.Boston_Month_September}", "{!$Label.Boston_Month_October}",
                                              "{!$Label.Boston_Month_November}", "{!$Label.Boston_Month_December}"
                                            ];    

                                    var StartDtTZ = new Date(start).toISOString();
                                    var endDtTZ = new Date(end).toISOString();

                                    var startV = monthNames[parseInt(StartDtTZ.substr(5,2)) - 1]+' '+StartDtTZ.substr(8, 2)+', '+StartDtTZ.substr(0, 4)+' at '+StartDtTZ.substr(11, 5);
                                    var endV = monthNames[parseInt(endDtTZ.substr(5,2)) - 1]+' '+endDtTZ.substr(8, 2)+', '+endDtTZ.substr(0, 4)+' at '+endDtTZ.substr(11, 5);

                                    $(".meetings-modal").modal('show');
                                    $('.meetings-modal .event-title').text(AppointMentTopicName);
                                    $('.meetings-modal .start-time').text(startV);
                                    $('.meetings-modal .end-time').text(endV);
                                    
                                     $('#confirmAppointment').click(function(){
                                     
                                        var arrayMeeting__c = [];
                                        var objMeeting__c  = new Meeting__c();                                        
                                        objMeeting__c.Start_Time = start;
                                        objMeeting__c.End_Time = end;
                                        objMeeting__c.AppointmentTopic = AppointMentTopicName;
                                        arrayMeeting__c.push(objMeeting__c);

                                        
                                        var jsonDataForMeeting = JSON.stringify(objMeeting__c);
                                        
                                        Visualforce.remoting.Manager.invokeAction(
                                                                '{!$RemoteAction.CustomerCalendarController.insertMeeting}',
                                                                jsonDataForMeeting,
                                                                function(result, event) {
                                                                    
                                                                    console.log(result);
                                                                    if(result.Id != '' || result.Id != null || result.Id != undefined){
                                                                        console.log('result===',result);
                                                                        //show confimation and after 3 secs reload the page                            
                                                                        $(".meetingsconfirm-modal").modal('show');
                                                                        $('.meetingsconfirm-modal .event-title').text(AppointMentTopicName);
                                                                        $('.meetingsconfirm-modal .start-time').text(startV);
                                                                        $('.meetingsconfirm-modal .end-time').text(endV);
                                                                        
                                                                        window.setTimeout(function(){location.reload()},5000);
                                                                    }                                                                    
                                                                }
                                            );
                                    });
                                                            
                                    //$('.meetings-modal .url').attr('href', '{!strAppointmentBookingSummaryURL}?Id='+result.Id);
                                    
                                    //alert('Your Appointment is Scheduled successfully.');
                                    /*eventData = {
                                        title: eventTitle,
                                        start: eventStartDt,
                                        end: eventEndDt
                                    };*/
                                    //$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                                    
                                    
                                    

                                }
                                else {

                                    //alert('{!$Label.Boston_Appointment_Topic_Required_Error_Message}');
                                    $('.topic-error-modal').modal('show');
                                    $('#calendar').fullCalendar('unselect');
                                }
                            $('#calendar').fullCalendar('unselect');
                        }
                        else {


                            alert('{!$Label.Boston_VTM_Past_Event_Selection_Error_Message}');
                            $('#calendar').fullCalendar('unselect');
                        }

                    },


                    businessHours:[

                        {
                            start: '{!objCalBusinessHour.monStartBH}',
                            end: '{!objCalBusinessHour.monEndBH}',
                            dow: [1]
                        },
                        {
                            start: '{!objCalBusinessHour.tueStartBH}',
                            end: '{!objCalBusinessHour.tueEndBH}',
                            dow: [2]
                        },
                        {
                            start: '{!objCalBusinessHour.wedStartBH}',
                            end: '{!objCalBusinessHour.wedEndBH}',
                            dow: [3]
                        },
                        {
                            start: '{!objCalBusinessHour.thuStartBH}',
                            end: '{!objCalBusinessHour.thuEndBH}',
                            dow: [4]
                        },
                        {
                            start: '{!objCalBusinessHour.friStartBH}',
                            end: '{!objCalBusinessHour.friEndBH}',
                            dow: [5]
                        }
                        // ,
                        // {
                        //     start: '{!objCalBusinessHour.friStartBH}',
                        //     end: '{!objCalBusinessHour.friEndBH}',
                        //     dow: [6,0]
                        // }
                    ],

                    minTime: '06:00:00',
                    maxTime: '18:00:00',
                    lazyFetching: true,
                    slotDuration: '01:00:00',
                    eventLimit: true, // allow "more" link when too many events
                    timeFormat: 'H:mm',
                    weekends: false,


                    dayClick: function(date, allDay, jsEvent, view) {


                            var d = new Date(date);
                            if(d.getDay() != 6 && d.getDay() != 0) {


                                var startD = new Date(date);
                                var today = new Date;
                                today = today.setDate(today.getDate());
                                if(startD >= today) {


                                    var isHoliday = new Boolean(false);


                                    var arrayStr = '{!holidayActualDate}';
                                    var holidays = arrayStr.split(',');
                                    var holidayMoment;
                                    for(var i = 0; i < holidays.length; i++) {


                                        var dt = holidays[i];
                                        holidayMoment = moment(dt,'YYYY-MM-DD');
                                        holidayMoment =  moment(holidayMoment).format('YYYY-MM-DD');
                                        startD = moment(startD).format('YYYY-MM-DD');



                                        if(startD != holidayMoment) {


                                            var clickDate = new Date(date);
                                            var today = new Date();
                                            var noOdMonth = parseInt('{!objBostonConfig.Boston_No_of_Month_to_Fetch_Meetings__c}');
                                            var futureDates = new Date(new Date(today).setMonth(today.getMonth()+noOdMonth));
                                            today = today.setDate(today.getDate() - 1);
                                            if(clickDate >= today && clickDate <= futureDates) {


                                                        if (allDay) {


                                                                // Clicked on the entire day
                                                                $('#calendar').fullCalendar('changeView', 'agendaDay');
                                                                $('#calendar').fullCalendar('gotoDate',date);
                                                        }


                                            }
                                        }
                                        else {


                                             $('#calendar').fullCalendar('changeView', 'month');
                                            isHoliday = true;
                                            alert("{!$Label.Boston_Holiday_Error_Message}");
                                            break;
                                        }
                                    }


                                    if(isHoliday != true) {


                                        var arrayDtStr = nonAvailableDatesArray;
                                        nonAvailableDt = arrayDtStr.toString().split(',');
                                        var nonAvailableDtMoment;
                                        for(var i = 0; i < nonAvailableDt.length; i++) {


                                            var nonDt = nonAvailableDt[i];
                                            nonAvailableDtMoment = moment(nonDt,'YYYY-MM-DD');
                                            var nonAvlDt = new Date(nonAvailableDtMoment);
                                            var cDate = new Date(date);


                                            if(cDate.toDateString() != nonAvlDt.toDateString()) {


                                                if (allDay) {

                                                        $('#calendar').fullCalendar('changeView', 'agendaDay');
                                                        $('#calendar').fullCalendar('gotoDate',date);

                                                       //$('#calendar').fullCalendar('renderEvent', newEvent, 'stick');
                                                }
                                            }
                                            else {


                                                $('#calendar').fullCalendar('changeView', 'month');
                                                alert("{!$Label.Boston_VTM_Unavailability_Error_Message}");
                                                break;
                                            }
                                        }
                                    }
                                }
                                else {


                                    alert('{!$Label.Boston_VTM_Past_Event_Selection_Error_Message}');
                                    $('#calendar').fullCalendar('unselect');
                                }
                            }
                            else {


                                alert("{!$Label.Boston_VTM_Unavailability_Error_Message}");
                            }
                    },




                    events: function(start, end, timezone, callback ) {


                        // JavaScript dates need formatting to be accepted at the Apex side
                        Visualforce.remoting.Manager.invokeAction(
                            '{!$RemoteAction.CustomerCalendarController.getMeetings}',
                            function(result, event) {


                                var setResults = result['meetings'];
                                nonAvailableDatesArray = result['nonAvailableDates'];
                                var newEvents = [];
                                for(var i = 0; i < setResults.length; i++) {


                                    var obj = setResults[i];
                                    obj['end'] = obj['endString'];
                                    delete(obj['endString']);
                                    newEvents.push(obj);
                                    
                                    console.log('obj ====',obj);
                                }


                                callback(newEvents);




                            });
                    },


                    eventColor: '{!objBostonConfig.Boston_Non_Availability_Color_Code__c}',




                    dayRender: function (date, cell) {


                        var renderDate = new Date(date);
                        var today = new Date();
                        var noOdMonth = parseInt('{!objBostonConfig.Boston_No_of_Month_to_Fetch_Meetings__c}');
                        var futureDates = new Date(new Date(today).setMonth(today.getMonth()+noOdMonth));
                        today = new Date(today.setDate(today.getDate()));

                        var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
                        var day = days[renderDate.getDay()];

                        if(date < today ) {


                            cell.css("background-color", '{!objBostonConfig.Boston_PastDate_Color_Code__c}');
                            $(cell).addClass('disabled');


                        }
                        else if(date >= today && date <= futureDates) {


                            cell.css("background-color", '{!objBostonConfig.Boston_Availability_Color_code__c}');
                            // if(day == 'Sunday' || day == 'Saturday') {

                            //      cell.css("background-color", '{!objBostonConfig.Boston_Non_Availability_Color_Code__c}');
                            // }

                        }
                        else if(date >= futureDates){


                            cell.css("background-color", '{!objBostonConfig.Boston_PastDate_Color_Code__c}');
                            $(cell).addClass('disabled');
                        }


                    },




                    eventAfterAllRender: function (view, cell) {


                        var holidays;
                        var arrayStr = '{!holidayActualDate}';
                        holidays = arrayStr.split(',');
                        var holidayMoment;
                        for(var i = 0; i < holidays.length; i++) {


                            var dt = holidays[i];

                            holidayMoment = moment(dt,'YYYY-MM-DD');
                            var renderDate = new Date(holidayMoment);
                            var DayofWeek = renderDate.getDay();
                            if (view.name == 'month') {


                                if(DayofWeek != 0 && DayofWeek != 6) {

                                    $("td[data-date=" + holidayMoment.format('YYYY-MM-DD') + "]").css('background','{!objBostonConfig.Boston_Non_Availability_Color_Code__c}');

                                }
                            }
                            else if (view.name =='agendaWeek') {


                                var classNames = $("th:contains(' " + holidayMoment.format('M/D') + "')").attr("class");
                                if (classNames != null) {


                                    var classNamesArray = classNames.split(" ");
                                    for(var i = 0; i < classNamesArray.length; i++) {


                                        if(classNamesArray[i].indexOf('fc-col') > -1) {


                                            $("td." + classNamesArray[i]).css('background','{!objBostonConfig.Boston_Non_Availability_Color_Code__c}');
                                            break;
                                        }
                                    }
                                }

                            }
                            else if (view.name == 'agendaDay') {


                                if(holidayMoment.format('YYYY-MM-DD') == $('#calendar').fullCalendar('getDate').format('YYYY-MM-DD')) {


                                    $("td.fc-col0").css('background','{!objBostonConfig.Boston_Non_Availability_Color_Code__c}');
                                };
                            }
                        }


                        var nonAvailableDt;
                        var arrayDtStr = nonAvailableDatesArray;
                        nonAvailableDt = arrayDtStr.toString().split(',');
                        var nonAvailableDtMoment;
                        nonAvailableDt = nonAvailableDt.filter(function(v){return v!==''});
                        if(nonAvailableDt.length > 0) {

                            for(var i = 0; i < nonAvailableDt.length; i++) {

                                var nonDt = nonAvailableDt[i];
                                nonAvailableDtMoment = moment(nonDt,'YYYY-MM-DD');
                                if (view.name == 'month') {

                                    $('.fc-event-container').css('display','none');
                                    $("td[data-date=" + nonAvailableDtMoment.format('YYYY-MM-DD') + "]").css('background','{!objBostonConfig.Boston_Non_Availability_Color_Code__c}');
                                    $("td[data-date=" + nonAvailableDtMoment.format('YYYY-MM-DD') + "]").disabled;
                                }
                            }
                            $('.fc-title').css('display','none');

                        }
                        if (view.name == 'month') {

                            $('.fc-event-container').css('display','none');
                        }

                        if (view.name == 'agendaDay') {

                            $('.fc-title').css('display', 'none');
                        }
                        $('fc-widget-content').css('background-color','{!objBostonConfig.Boston_Availability_Color_code__c}');
                        // $('.fc-sat').css('background','{!objBostonConfig.Boston_Non_Availability_Color_Code__c}');
                        // $('.fc-sun').css('background','{!objBostonConfig.Boston_Non_Availability_Color_Code__c}');
                        $('.fc-day-number').css('background','none');
                        $('td.fc-day.fc-past').css('background','{!objBostonConfig.Boston_PastDate_Color_Code__c}');
                    },

                });
                // Use jQuery $(#Id).css();
                document.getElementById('availabilityIndicator').style.backgroundColor = '{!objBostonConfig.Boston_Availability_Color_code__c}';
                document.getElementById('postDateIndicator').style.backgroundColor = '{!objBostonConfig.Boston_PastDate_Color_Code__c}';
                document.getElementById('blockedIndicator').style.backgroundColor = '{!objBostonConfig.Boston_Non_Availability_Color_Code__c}';
            });


             function Meeting__c() {
                  this.AppointmentTopic = null;
                  this.ContactId = null;
                  this.Description = null;
                  this.End_Time = null;
                  this.EventId = null;
                  this.isAllDayMeeting = null;
                  this.Meeting_Request_Status = null;
                  this.Start_Time = null;
                  this.Name = null;


              }
    </script>
    <style>


        th.fc-sat, th.fc-sun {

            background-color: transparent!important;
        }
        .input-color {

            position: relative;
        }
        .input-color .color-box {

            width: 10px;
            height: 10px;
            display: inline-block;
            background-color: #ccc;
            margin-top: 10px;
            left: 5px;
            top: 5px;
            margin-right: 10px;
        }
    </style>
<!-- Font Awesome -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-hQpvDQiCJaD2H465dQfA717v7lu5qHWtDbWNPvaTJ0ID5xnPUlVXnKzq7b8YUkbN" crossorigin="anonymous"/>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>


<link rel="stylesheet" href="{!URLFOR($Resource.bsc,'build/styles/bsc.css')}"/>

 <c:HeaderComponent />
 <div class="container">
    <apex:form Id="frm">
        <apex:pageMessages />
        <apex:pageBlock title="{!$Label.Boston_ContactUs_Online_Section_Body}" id="pb">

            <apex:pageBlockSection columns="1" id="pbSec">
                <apex:inputField id="AppointMentTopicName" value="{!objMeeting.AppointmentTopic__c}" styleClass="form-control topicDropdown col-sm-3"/>


                <div class="calendarContainer">
                        <div id="calendar" ></div>
                 </div>

                <div class="legend">
                    <h4>{!$Label.Boston_Legend}</h4><br/>

                    <div id="indicator" class="input-color">

                        <div id="blockedIndicator" class="color-box"></div>{!$Label.Boston_Calendar_Non_Available}<br/>
                        <!--<div id="weekendsIndicator" class="color-box" ></div>Weekends<br/>
                        <div id="holidayIndicator" class="color-box" ></div>Holidays<br/>-->
                        <div id="availabilityIndicator" class="color-box" ></div>{!$Label.Boston_Calendar_Available}<br/>
                        <div id="postDateIndicator" class="color-box"></div>{!$Label.Boston_Calendar_Past}<br/>

                 </div>
                </div>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
    </div>


    <!-- Model for Terms -->
<div class="modal fade meetings-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"  id="btn-decline-close" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{!$Label.Boston_Appointment_Booking_Summary_main_Title}</h4>
      </div>
      <div class="modal-body">
        <p>{!$Label.Boston_Appointment_Booking_Summary_Confirmation_Box_Title}</p>
        <p><b>{!$Label.Boston_Appointment_Booking_Summary_Confirmation_Box_Section_Service_Name}</b> <span class="event-title"></span></p>
        <p><b>{!$Label.Boston_Appointment_Booking_Summary_Confirmation_Box_Section_Date_Time}:</b> <span class="start-time"></span></p>
        </div>
      <div class="modal-footer">
        <a type="button" id="confirmAppointment" class="btn btn-primary url" data-dismiss="modal" >{!$Label.Boston_Appointment_Booking_Summary_main_Title}</a>
        <button type="button" id="btn-accept-terms" class="btn btn-default" data-dismiss="modal" >{!$Label.NMD_Cancel}</button>
    </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <!-- Model for Topic Error -->
<div class="modal fade topic-error-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button"  id="btn-decline-close" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{!$Label.NMD_Error}</h4>
      </div>
      <div class="modal-body">
      <p>{!$Label.Boston_Appointment_Topic_Required_Error_Message}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" >{!$Label.Boston_Modal_Close}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- confimation model -->
<div class="modal fade meetingsconfirm-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"  id="btn-decline-close" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{!$Label.Boston_Appointment_Booking_Summary_main_Title}</h4>
      </div>
      <div class="modal-body">
        <p>{!$Label.Boston_Appointment_Booking_Summary_Confirmation_Title}</p>
        <p><b>{!$Label.Boston_Appointment_Booking_Summary_Confirmation_Box_Section_Service_Name}</b> <span class="event-title"></span></p>
        <p><b>{!$Label.Boston_Appointment_Booking_Summary_Confirmation_Box_Section_Date_Time}:</b> <span class="start-time"></span></p>
      </div>
      <div class="modal-footer">        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</apex:page>