<apex:page standardController="Opportunity" docType="html-5.0" sidebar="false" showHeader="false">
<script>
    
    var recType = '{!$CurrentPage.parameters.RecordType}';
    var recId = '{!$CurrentPage.parameters.id}';
    
    if ( recId != null && recId != 'undefined' && recId.length > 0) {
        if ((typeof sforce != 'undefined') && (sforce.one != null)) {
            sforce.one.navigateToURL('{!URLFOR($Page.dupcheck__dc3Entry,null,['id' = $CurrentPage.parameters.id])}');
        } else {
            window.location.href = '{!URLFOR($Page.dupcheck__dc3Entry,null,['id' = $CurrentPage.parameters.id])}';
        }
    } else if ( recType == null || recType == 'undefined' || recType.length == 0 ) {
        if ((typeof sforce != 'undefined') && (sforce.one != null)) {
            sforce.one.navigateToURL('{!URLFOR($Page.dupcheck__dc3Entry,null,['object' = '006'])}');
        } else {
            window.location.href = '{!URLFOR($Page.dupcheck__dc3Entry,null,['object' = '006'])}';
        }
    } else {
        if ((typeof sforce != 'undefined') && (sforce.one != null)) {
            sforce.one.navigateToURL('{!URLFOR($Page.dupcheck__dc3Entry,null,['object' = '006', 'rectype' = $CurrentPage.parameters.RecordType])}');
        } else {
            window.location.href = '{!URLFOR($Page.dupcheck__dc3Entry,null,['object' = '006', 'rectype' = $CurrentPage.parameters.RecordType])}';
        }
    }
</script>
</apex:page>