<apex:page controller="DocumentsController" showHeader="false">
    <apex:composition template="BSC_SiteTemplate">
        <apex:define name="body">
      
     <div class="container">
         =========listFeedItems======== <br/>
      <apex:repeat value="{!lstFeedItemWrapper}" var="key"> <br/>
            <apex:outputLabel value="{!key.objFeedItem.Id}"></apex:outputLabel> <br/>
          <a href="{!key.downloadUrl}">DownloadUrl</a>
      </apex:repeat>
    </div>        
      </apex:define> 
    </apex:composition>
</apex:page>