<apex:page standardController="et4ae5__SendDefinition__c"
    extensions="et4ae5.chartController">
    <style type="text/css">
body {
    margin: 0;
    padding: 0;
    
    font-size: 11px;
}

#popupcontent {
    box-sizing: border-box;
    position: fixed;
    display: none;
    top: 3%;
    left: 3%;
    width: 94%;
    height: 94%;
    border: 3px solid #e0e3e5;
    padding: 5px;
    z-index: 100;
    
    background-color: #f0f0f0;
    
    overflow: auto;
}

/* Needed to move help text bubbles down in line with the titles */
img.helpOrb {
    vertical-align: bottom;
}

/* Used to do the grid layout */
.row {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
}

.row.center {
    text-align: center;
}

/* Make sure there is no whitespace between cells */
.cell {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    vertical-align: top;
}

.cell.whole {
    width: 100%;
}

.cell.one-third {
    width: 33.333333333%;
}

.cell.two-third {
    width: 66.666666666%;
}

.cell.half {
    width: 49.5%;
}

/* Link color */
a:link {color:blue;}


/* Widget styles */
.widget {
    margin: 5px;
    border: 1px solid #e0e3e5;
    padding: 7px;
    min-height: 166px;
    
    background-color: #f0f0f0;
    border-radius: 4px;
}

.widget .header {
    font-size: 14px;
    font-weight: bold;
}

/* Form styles */
.form {
	float:right;
}

.form > table > tbody > tr > .label {
    width: 50%;
    padding-right: 1em;
    
    text-align: right;
    font-weight: bold;
    width:34%;
}
.form > table > tbody > tr > .value {
    text-align: left;
    
}

.data > table {
}
.data > table > tbody > tr > .label {
    text-align: right;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:34%;
}
.data > table > tbody > tr > .value {
    text-align: right;
    width:33%;
}
.data > table > tbody > tr > .box{
    text-align: right;
    width: 33%;
}
.legend {
    display: inline-block;
    float: right;
    height: 1em;
    width: 1em;
    margin: 0;
    margin-right: 2px;
    border: 1px solid #e0e3e5; 
    padding: 0;
    
    vertical-align: text-bottom;
}
.legend.blue {
    background-color: hsl(200, 50%, 60%);
}
.legend.green {
    background-color: hsl(76, 73%, 50%);
}
.legend.orange {
    background-color: hsl(33, 85%, 57%);
}
.photo{
	text-align:left;
}
.link{
	padding-right:10px;
}

/* Mobile styles */
@media only screen and (max-width: 500px) {
    body: {
        font-size: 16px;
    }
    .container {
        padding: 0 8px 0 8px;
    }
    .cell.mobile {
        display: block;
        width: 100%;
    }
    .cell.one-third.mofit{
        width: 52%;
    }
    .cell.two-third.mofit{
        width: 48%;
    }
    .widget {
        background-color: hsl(0, 0%, 100%);
    }
    .links {
    
    }
    .links a {
        padding-right: 8px;
        
        font-size: 16px;
        text-align: left;
        line-height: 24px;
    }
    .helpOrb,
    .hide-mobile {
        /* Hide help orb icon on mobile */
        display: none;
    }
    .data > table{
    width:90%;
    }
    .data > table > tbody > .mini{
    font-size:8px;
    }
}
@media only screen and (min-width: 501px) and (max-width: 1024px) {
    .cell.mobile{
    display: inline-block;
    }
    body: {
        font-size: 16px;
    }
    .container {
        padding: 0 8px 0 8px;
    }
    .widget {
        background-color: hsl(0, 0%, 100%);
    }
    .links {
    
    }
    .links a {
        padding-right: 8px;
        
        font-size: 16px;
        text-align: left;
        line-height: 24px;
    }
    .helpOrb,
    .hide-mobile {
        /* Hide help orb icon on mobile */
        display: none;
    }
    .data > table{
    width:90%;
    }
    .data > table > tbody > .mini{
    font-size:8px;
    }
    .row.performance {
    display:block;
    }
    .cell.half.mobile.performance{
    width:100%;
    }
}

</style>
    <apex:outputPanel rendered="{!NOT(renderCSP)}">
        <br />
        {!$Label.trkWait}
    </apex:outputPanel>
    <apex:outputPanel rendered="{!renderCSP}">
        <div id="popupcontent" align="center">
            <input type="image" onclick="closepopup();return false;"
                style="height: 100%;" src="data:image/png;base64,{!thumbnail}"/>
        </div>
        <div class="container">
            <div class="row center">
                <div class="cell whole mobile">
                    <div class="widget">
                        <div class="row">
                            <div class="cell half mobile" id="recordInfo">
                                <div class="form">
                                    <table>
                                        <tr>
                                            <td class="label">{!$label.jobId_c}</td>
                                            <td class="value">{!sd.jobId__c}</td>
                                        </tr>
                                        <tr>
                                            <td class="label">{!$label.name_c}</td>
                                            <td class="value">{!sd.emailName__c}</td>
                                        </tr>
                                        <tr class="hide-mobile">
                                            <td/>
                                            <td class="value">(  <a href="javascript:void(0);" data-href="/apex/et4ae5__subscriberAnalytics?obj=email&amp;sdId={!sd.Id}">
                                                    {!$Label.anytxFTEm}</a> )
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label">{!$label.subj_c}</td>
                                            <td class="value">{!subjectLine}</td>
                                        </tr>
                                        <tr>
                                            <td class="label">{!$label.dateSent_c}</td>
                                            <td class="value">{!fdatesent}</td>
                                        </tr>
                                        <tr>
                                            <td class="label">{!$label.totSent_c}</td>
                                            <td class="value">
                                                <apex:outputText value="{0, number, ###,###,##0}">
                                                    <apex:param value="{!sd.et4ae5__NumberSent__c}" />
                                                </apex:outputText>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label">{!$label.trkAsOf_c}</td>
                                            <td class="value">{!ftrackingasof}</td>
                                        </tr>
                                        <tr>
                                            <td class="label">{!$label.trkExp_c}</td>
                                            <td class="value">{!fTrackingExpire}</td>
                                        </tr>
                                        <tr>
                                            <td class="label">
                                                {!if(sd.Individual_Tracking_Disabled__c,$label.indTrk_c,'')}
                                            </td>
                                            <td class="value">
                                                {!if(sd.Individual_Tracking_Disabled__c,$label.disThisSd,'')}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div><div class="cell half mobile">
                                <div class="photo">
                                    <input type="image" onclick="showpopup();return false;"
                                        src="data:image/png;base64,{!thumbnail}"
                                        style=" max-height: 200px;" id="imgThumb"/>
                                </div>
                                <div class="body" style="display:none;font-weight:normal;" id="noThumb">
                                    <br/>
                                    <span>The email thumbnail could not be retrieved</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="cell one-third mobile">
                    <div class="row">
                        <div class="cell whole">
                            <div class="widget">
                                <div class="header">
                                    <span class="helpButton" id="send-performance-title-_help">
                                        <img src="/s.gif" class="helpOrb" alt="" title="" />
                                        <script>
                                        
                                        </script>
                                        {!$label.sendPerf}
                                    </span>
                                </div>
                                <div class="row performance">
                                <div class="cell half mobile performance">
                                <div class="chart">
                                    <apex:chart animate="true" height="150" width="100%"
                                        colorSet="#E93,#6AC,#AD2" data="{!sendPerformanceData}">
                                        <apex:pieSeries tips="true" highlight="false" dataField="data"
                                            rendererFn="pieRenderer" >
                                            <apex:chartTips height="20" width="110"/>
                                        </apex:pieSeries>
                                    </apex:chart>
                                </div>
                                </div>
                                <div class="cell half mobile performance">
                                <div class="data">
                                    <table>
                                        <tr style="font-size:medium;">
                                            <td class="box"></td>
                                            <td class="label">{!$Label.delRate_c}</td>
                                            <td class="value">{!sd.Deliverability_Rate__c}%</td>
                                        </tr>
                                        <tr>
                                            <td class="box"><span class="legend blue"></span><span class="legend green"></span></td>
                                            <td class="label">{!$Label.totBncs_c}</td>
                                            <td class="value">
                                                <apex:outputText value="{0, number, ###,###,##0}">
                                                    <apex:param value="{!sd.et4ae5__Number_Bounced__c}" />
                                                </apex:outputText>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="box"><span class="legend blue"></span></td>
                                            <td class="label">{!$Label.hrdBnc_c}</td>
                                            <td class="value">
                                                <apex:outputText value="{0, number, ###,###,##0}">
                                                    <apex:param value="{!sd.et4ae5__NumberofHardBounces__c}" />
                                                </apex:outputText>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="box"><span class="legend green"></span></td>
                                            <td class="label">{!$Label.sftBnc_c}</td>
                                            <td class="value">
                                                <apex:outputText value="{0, number, ###,###,##0}">
                                                    <apex:param value="{!sd.et4ae5__NumberofSoftBounces__c}" />
                                                </apex:outputText>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="box"><span class="legend orange"></span></td>
                                            <td class="label">{!$Label.totDel_c}</td>
                                            <td class="value">
                                                <apex:outputText value="{0, number, ###,###,##0}">
                                                    <apex:param value="{!sd.et4ae5__Number_Delivered__c}" />
                                                </apex:outputText>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell whole">
                            <div class="widget">
                                <div class="header">
                                    <span class="helpButton" id="open-performance-title-_help">
                                        <img src="/s.gif" class="helpOrb" alt="" />
                                        {!$label.openPerf}
                                    </span>
                                </div>
                                <div class="row performance">
                                <div class="cell half mobile performance">
                                <div class="chart">
                                    <apex:chart height="150" width="100%"
                                        data="{!openPerformanceData}">
                                        <apex:axis rendered="true" grid="true" type="Numeric"
                                            position="left" fields="data1,data2,data3" minimum="0"
                                            steps="{!openSteps}" />
                                        <apex:axis rendered="false" grid="true" type="Category"
                                            position="bottom" fields="name" />
                                        <apex:barSeries colorSet="#6AC" orientation="vertical"
                                            axis="left" xField="name" yField="data1" >
                                            <apex:chartTips height="20" width="110"/>
                                        </apex:barSeries>
                                        <apex:barSeries colorSet="#E93" orientation="vertical"
                                            axis="left" xField="name" yField="data2" >
                                            <apex:chartTips height="20" width="110"/>
                                        </apex:barSeries>    
                                        <apex:barSeries colorSet="#AD2" orientation="vertical"
                                            axis="left" xField="name" yField="data3" >
                                            <apex:chartTips height="20" width="110"/>
                                        </apex:barSeries>    
                                    </apex:chart>
                                </div>
                                </div>
                                <div class="cell half mobile performance">
                                <div class="data">
                                    <table>
                                        <tr style="font-size:medium;">
                                            <td class="box"></td>
                                            <td class="label">{!$Label.openRate_c}</td>
                                            <td class="value">{!sd.Open_Rate__c}%</td>
                                        </tr>
                                        <tr>
                                            <td class="box"><span class="legend blue"></span></td>
                                            <td class="label">{!$Label.delivered_c}</td>
                                            <td class="value">
                                                <apex:outputText value="{0, number, ###,###,##0}">
                                                    <apex:param value="{!sd.et4ae5__Number_Delivered__c}" />
                                                </apex:outputText>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="box"><span class="legend orange"></span></td>
                                            <td class="label">{!$Label.totOpens_c}</td>
                                            <td class="value">
                                                <apex:outputText value="{0, number, ###,###,##0}">
                                                    <apex:param value="{!sd.et4ae5__NumberofTotalOpens__c}" />
                                                </apex:outputText>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="box"><span class="legend green"></span></td>
                                            <td class="label">{!$Label.unqOpens_c}</td>
                                            <td class="value">
                                                <apex:outputText value="{0, number, ###,###,##0}">
                                                    <apex:param value="{!sd.et4ae5__NumberofUniqueOpens__c}" />
                                                </apex:outputText>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="cell two-third mobile">
                    <div class="row">
                        <div class="cell whole">
                            <div class="widget">
                                <div class="header">
                                    <span class="helpButton" id="activity-title-_help"> <img
                                        src="/s.gif" class="helpOrb" alt="" /> {!$label.activity}
                                    </span>
                                </div>
                                <div class="row">
                                    <div class="cell one-third mofit">
                                        <div class="data" style="margin-top: 2em;">
                                            <table style="width: 100%;">
                                                <tr class="mini">
                                                    <td class="label"></td>
                                                    <td class="label">{!$label.total}</td>
                                                    <td class="label">{!$label.unique}</td>
                                                </tr>
                                                <tr>
                                                    <td class="label">{!$label.opens}</td>
                                                    <td class="value">
                                                        <apex:outputText value="{0, number, ###,###,##0}">
                                                            <apex:param value="{!sd.et4ae5__NumberofTotalOpens__c}" />
                                                        </apex:outputText>
                                                    </td>
                                                    <td class="value">
                                                        <apex:outputText value="{0, number, ###,###,##0}">
                                                            <apex:param value="{!sd.et4ae5__NumberofUniqueOpens__c}" />
                                                        </apex:outputText>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="label">{!$Label.et4ae5__clicks}</td>
                                                    <td class="value">
                                                        <apex:outputText value="{0, number, ###,###,##0}">
                                                            <apex:param value="{!sd.et4ae5__NumberofTotalClicks__c}" />
                                                        </apex:outputText>
                                                    </td>
                                                    <td class="value">
                                                        <apex:outputText value="{0, number, ###,###,##0}">
                                                            <apex:param value="{!sd.et4ae5__NumberofUniqueClicks__c}" />
                                                        </apex:outputText>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="label">{!$Label.et4ae5__forwards}</td>
                                                    <td class="value">-</td>
                                                    <td class="value"><apex:outputText value="{0, number, ###,###,##0}">
                                                            <apex:param value="{!sd.et4ae5__NumberofSubscribersForwardingEmail__c}" />
                                                        </apex:outputText></td>
                                                </tr>
                                                <tr>
                                                    <td class="label">{!$Label.et4ae5__unsubbed}</td>
                                                    <td class="value">-</td>
                                                    <td class="value"><apex:outputText value="{0, number, ###,###,##0}">
                                                            <apex:param value="{!sd.et4ae5__NumberUnsubscribed__c}" />
                                                        </apex:outputText></td>
                                                </tr>
                                                <tr>
                                                    <td class="label">{!$Label.et4ae5__totDel}</td>
                                                    <td class="value">-</td>
                                                    <td class="value"><apex:outputText value="{0, number, ###,###,##0}">
                                                            <apex:param value="{!sd.et4ae5__Number_Delivered__c}" />
                                                        </apex:outputText></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div><div class="cell two-third mofit">
                                        <div class="chart">
                                            <apex:chart height="146" width="100%" data="{!activityData}" >
                                                <apex:axis rendered="true" grid="true" type="Numeric"
                                                    position="top" fields="data1" minimum="0"
                                                    steps="{!activSteps}" />
                                                <apex:axis rendered="false" grid="true" type="Category"
                                                    position="left" fields="name" />
                                                <apex:barSeries colorSet="#6AC" orientation="horizontal"
                                                    axis="top" xField="data1" yField="name" >
                                                    <apex:chartTips height="20" width="110"/>
                                                </apex:barSeries>
                                            </apex:chart>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell whole">
                            <div class="widget">
                                <div class="header">
                                    <span class="helpButton" id="unengaged-subscribers-title-_help">
                                        <img src="/s.gif" class="helpOrb" alt="" />
                                        {!$Label.unengagSub}
                                    </span>
                                </div>
                                <div class="row">
                                    <div class="cell one-third mofit">
                                        <div class="data">
                                            <table style="margin-top: 2em; width: 100%;">
                                                <tr>
                                                    <td class="label"></td>
                                                    <td class="label"></td>
                                                    <td class="label">{!$label.unique}</td>
                                                </tr>
                                                <tr>
                                                    <td class="label">{!$label.didntClick}</td>
                                                    <td class="value"></td>
                                                    <td class="value">
                                                        <apex:outputText value="{0, number, ###,###,##0}">
                                                            <apex:param value="{!sd.et4ae5__NumberNotClicked__c}" />
                                                        </apex:outputText>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="label">{!$Label.didntOpen}</td>
                                                    <td class="value"></td>
                                                    <td class="value">
                                                        <apex:outputText value="{0, number, ###,###,##0}">
                                                            <apex:param value="{!sd.et4ae5__Number_Not_Opened__c}" />
                                                        </apex:outputText>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="label">{!$Label.delivered}</td>
                                                    <td class="value"></td>
                                                    <td class="value">
                                                        <apex:outputText value="{0, number, ###,###,##0}">
                                                            <apex:param value="{!sd.et4ae5__Number_Delivered__c}" />
                                                        </apex:outputText>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div><div class="cell two-third mofit">
                                        <div class="chart">
                                            <apex:chart height="112" width="100%" data="{!unengagedData}">
                                                <apex:axis rendered="true" grid="true" type="Numeric"
                                                    position="top" fields="data1" minimum="0"
                                                    steps="{!activSteps}" />
                                                <apex:axis rendered="false" grid="true" type="Category"
                                                    position="left" fields="name" />
                                                <apex:barSeries colorSet="#AD2" orientation="horizontal"
                                                    axis="top" xField="data1" yField="name" >
                                                    <apex:chartTips height="20" width="110"/>
                                                </apex:barSeries>   
                                            </apex:chart>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row center hide-mobile">
                <div class="cell whole mobile">
                    <div class="widget" style="min-height:30px;">
                        <div class="header">
                            <span class="helpButton"
                                id="related-individual-email-result-reports-title-_help">
                                <img src="/s.gif" class="helpOrb" alt="" /> {!$label.relIerRep}
                            </span>
                        </div>
                        <div class="links">
                            <a href="javascript:void(0);" data-href="/{!ReportSent}?pv0={!sd.name}" class="link">{!$label.sent}</a>
                            <a href="javascript:void(0);" data-href="/{!ReportOpened}?pv0={!sd.name}" class="link">{!$label.opened}</a>
                            <a href="javascript:void(0);" data-href="/{!ReportClicked}?pv0={!sd.name}" class="link">{!$label.clicked}</a>
                            <a href="javascript:void(0);" data-href="/{!ReportHardBounced}?pv0={!sd.name}" class="link">{!$label.hrdBncd}</a>
                            <a href="javascript:void(0);" data-href="/{!ReportDelivered}?pv0={!sd.name}" class="link">{!$label.delivered}</a>
                            <a href="javascript:void(0);" data-href="/{!ReportDidNotOpen}?pv0={!sd.name}" class="link">{!$label.didntOpen}</a>
                            <a href="javascript:void(0);" data-href="/{!ReportDidNotClick}?pv0={!sd.name}" class="link">{!$label.didntClick}</a>
                            <a href="javascript:void(0);" data-href="/{!ReportSoftBounced}?pv0={!sd.name}" class="link">{!$label.sftBncd}</a>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </apex:outputPanel>
    <script type="text/javascript">
        function showpopup()
        {
            //if using salesforce1 ensure link is sf1 valid
            if(typeof sforce!=='undefined' && sforce.one)
            {
            sforce.one.navigateToURL('/apex/emailThumbnailMobile?sd={!sd.id}');
            }
            else
            {
            var popUp = document.getElementById("popupcontent");
            popUp.style.display = "block";
            }
        }
        function closepopup()
        {
            var popUp = document.getElementById("popupcontent");
            popUp.style.display = "none";
        }
        function pieRenderer(klass, item, e, f, g, h)
        {
            //overwrite the label rendering to be blank
            this.label.renderer = new function() { return ''; };
        }
        sfdcPage.setHelp('send-performance-title', '{!JSENCODE($Label.msg0088)}');
        sfdcPage.setHelp('open-performance-title', '{!JSENCODE($Label.msg0089)}');
        sfdcPage.setHelp('activity-title', '{!JSENCODE($Label.msg0090)}');
        sfdcPage.setHelp('unengaged-subscribers-title', '{!JSENCODE($Label.msg0091)}');
        sfdcPage.setHelp('related-individual-email-result-reports-title', '{!JSENCODE($Label.msg0092)}');
        
        function anchorListener(event) {
            if (typeof sforce !== 'undefined' && sforce.one && (event.srcElement.dataset.href || event.target.dataset.href)) {
                event.preventDefault();
                event.stopImmediatePropagation();
                event.stopPropagation();
                sforce.one.navigateToURL(event.srcElement.dataset.href);
            } else {
                window.open(event.target.dataset.href)
            }
        }
        var anchors = document.querySelectorAll('a');
        for (var i=0; i<anchors.length; i++) {
            var anchor = anchors[i];
            anchor.addEventListener('click', anchorListener, false);
        }
        
        //Code to be used while we don't support AB Test thumbnails in SF
        function addLoadEvent(func) 
		{ 
		  var oldonload = window.onload; 
		  if (typeof window.onload != 'function') 
		  { 
		     window.onload = func; 
		  } 
		  else 
		  { 
		      window.onload = function()  
		      { 
		        if (oldonload) 
		        { 
		           oldonload(); 
		        } 
		        func(); 
		      } 
		   } 
		} 
		  
		addLoadEvent(displayThumbnail);
        function displayThumbnail(){
            if ('{!sd.Split_Send__c}'== 'true')
            {
                document.getElementById('imgThumb').style.display = "none";
                document.getElementById('recordInfo').className="cell mobile";
            }
            else if ('{!thumbnail}' == '')
            {
                document.getElementById('imgThumb').style.display = "none";
                if(typeof sforce!=='undefined' && sforce.one)
                {
                    document.getElementById('noThumb').style.display="block";
                }
                else
                {
                    document.getElementById('noThumb').style.display="inline-block";
                }
            }
            
        }
        
    </script>
</apex:page>