<apex:page controller="et4ae5.initialConfigControl" tabStyle="ExactTargetPhoenix__tab">
    <apex:define name="customCSS">
      <style>
        .bPageBlock .pbHeader {
        background-color: white;
        }
        .alert>p+p {
        margin-top: 5px;
        }
        .alert-dismissable .close {
        top: -2px;
        right: -21px;
        }
        .popup {
        	z-index: 1;
        }
        .pbTitle {
            white-space: nowrap;
        }
        .alert {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
            font-size: 15px;
        }
        .alert h4 {
            margin-top: 0;
            color: inherit;
        }
        .alert .alert-link {
            font-weight: bold;
        }
        .alert>p,
        .alert>ul {
            margin-bottom: 0;
        }
        .alert-dismissable {
            padding-right: 35px;
        }
        .alert-dismissable .close {
            position: relative;
            color: inherit;
        }
        .alert-et {
            color: black;
            background-color: white;
            border-color: #ffa100;
        }
        .alert-et hr {
            border-top-color: #f8e5be;
        }
        .alert-et .alert-link {
            color: #a47e3c;
        }
        button.close {
            padding: 0;
            cursor: pointer;
            background: transparent;
            border: 0;
            -webkit-appearance: none;
        }
        .close {
            float: right;
            font-size: 15px;
            font-weight: bold;
            line-height: 1;
            color: #000000;
            text-shadow: 0 1px 0 #ffffff;
            opacity: 0.2;
            filter: alpha(opacity=20);
        }
        .close:hover,
        .close:focus {
            color: #000000;
            text-decoration: none;
            cursor: pointer;
            opacity: 0.5;
            filter: alpha(opacity=50);
        }          
      </style>
    </apex:define>    
    <c:ETHeader message="{!$Label.et4ae5__etConnectn}" image="credentials.png" />
    <apex:outputPanel id="pageMessages">
      <c:pageMessages closableErrors="true" />
    </apex:outputPanel>
    <apex:form >
        <input id="hiddenElementId" type="hidden" />
        <script type="text/javascript">
            function setFocus()
            {
                document.getElementById("hiddenElementId").focus();
            }

            function addLoadEvent(func)
            {
                var oldonload = window.onload;
                if (typeof window.onload != 'function')
                {
                    window.onload = func;
                }
                else
                {
                    window.onload = function ()
                    {
                        if (oldonload)
                        {
                            oldonload();
                        }
                        func();
                    }
                }
            }
            addLoadEvent(setFocus);
        </script>
        <div align="right">
            <apex:outputpanel >
                <apex:commandLink rendered="{!isAdmin}" style="text-decoration:none;color:#015ba7;" value="{!$Label.et4ae5__configInt}" onMouseOver="this.style.textDecoration='underline'"
                onMouseOut="this.style.textDecoration='none'" action="{!configure}" />&nbsp;&nbsp;&nbsp;
            </apex:outputpanel>
        </div>
        <br />
        <apex:pageBlock title="{!$Label.et4ae5__userCreds}" mode="view" id="thisDiv">
            <apex:pageBlockSection columns="1">
                    <apex:pageBlockSectionItem rendered="{!NOT(renderBU)}">
                        <apex:outputLabel value="" />
                        <apex:outputLabel value="{!$Label.et4ae5__msg0084}"/>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem helpText="{!$Label.et4ae5__msg0018}" rendered="{!NOT(renderBU)}">
                        <apex:outputLabel value="{!$Label.et4ae5__etUsername}"/>
                        <apex:inputText value="{!credUN}" style="width:250px"/>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem helpText="{!$Label.et4ae5__msg0017}" rendered="{!NOT(renderBU)}">
                        <apex:outputLabel value="{!$Label.et4ae5__etPassword}"/>
                        <apex:inputSecret value="{!credPW}" style="width:250px" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem rendered="{!renderBU}">
                        <apex:outputLabel value="" />
                        <apex:outputLabel value="{!$Label.et4ae5__msg0176}"/>
                    </apex:pageBlockSectionItem>                
                    <apex:pageBlockSectionItem helpText="{!$Label.et4ae5__msg0177}" rendered="{!renderBU}">
                        <apex:outputLabel value="Business Unit"/>
                        <apex:outputPanel >
                            <apex:selectList value="{!selectedBUMID}" size="1">
                                <apex:selectOptions value="{!buOptions}"/>
                            </apex:selectList>
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <div align="center">
                <table border="0">
                    <tr>
                        <td width="500px">
	                        <apex:actionStatus id="loading">
		                    	<apex:facet name="start">
		                    		<img class="spinnerLarge" src="{!URLFOR( $Resource.ExactTargetImages, 'spinEMAIL.GIF' )}" />
		                    	</apex:facet>
	                      		<apex:facet name="stop">
		                            <apex:outputPanel id="Buttons" layout="block">
		                                <apex:commandButton id="GoButton" value="{!$Label.et4ae5__estblshCnn}" action="{!connect}" rendered="{!NOT(renderBU)}"
		                                                     rerender="pageMessages, thisDiv, Buttons" status="loading"/>
		                                <apex:commandButton id="secondGo" value="{!$Label.et4ae5__estblshCnn}" action="{!connectScoped}" rendered="{!renderBU}" rerender="pageMessages" status="loading"/>
		                                
		                            </apex:outputPanel>
	                            </apex:facet>
	                        </apex:actionStatus>
                        </td>
                    </tr>
                </table>
            </div>
        </apex:pageBlock>
    </apex:form>
</apex:page>