<apex:page controller="EventsController" showHeader="false" action="{!init}">
    <apex:composition template="BSC_SiteTemplate">
        <apex:define name="body">
            <div id="events">
                <div class="grey-background">
                    <div class="container">
                        <div class="breadcrumb">
                            <a href="{!$Page.AuthenticatedHomePage}">{!$Label.Boston_Breadcrumbs_Home}</a> > {!$Label.Boston_Events_Body_Title}
                        </div>
                        <div class="introTxt">
                            <h2>{!$Label.Boston_Events_Body_Title}</h2>
                         <!--   <p>{!$Label.Boston_Events_Body_Introduction}</p> -->
                        </div>
                        
                        <apex:outputPanel rendered="{!objFeaturedEvent.Id <> null}">
                            <div class="featured">
                                <div class="row">
                                    <h4>{!$Label.Boston_Events_Featured_Event}</h4>
                                    <div class="col-xs-12 col-sm-6">
                                        <apex:image value="{!objFeaturedEvent.Shared_Image_URL__c}" styleClass="img-responsive"/>
                                    </div>
                                    <div class="featured-text">
                                        <div class="col-xs-12 col-sm-6">
                                            <h3>{!objFeaturedEvent.Shared_Display_Name__c}</h3>
                                            <div class="featured-date">
                                                <apex:outputText value="{0,date,dd' 'MMM', 'yyyy}">
                                                    <apex:param value="{!objFeaturedEvent.Shared_Start_Date__c}"/>
                                                </apex:outputText>
                                            </div>
                                            <div class="featured-description">{!objFeaturedEvent.Shared_Description__c}</div>
                                            <div class="featured-link">{!$Label.Boston_Events_Learn_More}
                                                <a href="{!objFeaturedEvent.Shared_Event_Hyperlink__c}" target="_blank">{!objFeaturedEvent.Shared_Event_Hyperlink__c}</a>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </apex:outputPanel>
                        <div class="tblEvents">
                            <apex:repeat value="{!lstMonths}" var="month" >
                                <h4>{!$Label[month]}</h4>
                                <apex:variable var="c" value="{!mapMonthToEvents[month]}" />
                                <apex:outputPanel rendered="{!if(c.size == 0, true, false)}" styleClass="smallTxt">{!$Label.Boston_Events_No_Events}</apex:outputPanel>
                                <apex:repeat value="{!mapMonthToEvents[month]}" var="event">
                                    <div class="eventRow">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4">
                                                <apex:outputPanel rendered="{!!ISBLANK(event.Shared_Event_Hyperlink__c)}">
                                                    <a href="{!event.Shared_Event_Hyperlink__c}" target="_blank">
                                                        <h5><apex:outputText value="{!event.Shared_Display_Name__c}" /></h5>
                                                    </a>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!ISBLANK(event.Shared_Event_Hyperlink__c)}">
                                                        <h5><apex:outputText value="{!event.Shared_Display_Name__c}" /></h5>
                                                </apex:outputPanel>
                                            </div>
                                            <div class="col-xs-12 col-sm-4">
                                                <apex:outputText value="{!event.Shared_City__c}" />
                                            </div>
                                            <div class="col-xs-12 col-sm-4">
                                                
                                                <apex:outputPanel rendered="{!event.Shared_Start_Date__c == event.Shared_End_Date__c}">
                                                    <apex:outputText value="{0, date, d MMM',' yyyy}">
                                                        <apex:param value="{!event.Shared_Start_Date__c}" />
                                                    </apex:outputText>
                                                </apex:outputPanel>
                                                
                                                <apex:outputPanel rendered="{!event.Shared_Start_Date__c != event.Shared_End_Date__c}">
                                                    <apex:outputText value="{0, date, d MMM}">
                                                        <apex:param value="{!event.Shared_Start_Date__c}" />
                                                    </apex:outputText>
                                                </apex:outputPanel>
                                                
                                                <apex:outputPanel rendered="{!event.Shared_Start_Date__c != event.Shared_End_Date__c}">
                                                    -
                                                    <apex:outputText value="{0, date, d MMM','  yyyy}">
                                                        <apex:param value="{!event.Shared_End_Date__c}" />
                                                    </apex:outputText>
                                                </apex:outputPanel>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <apex:outputText value="{!event.Shared_Description__c}" />
                                            </div>
                                        </div>
                                    </div>
                                    
                                </apex:repeat>    
                            </apex:repeat>
                        </div><!-- end tbleEvents-->
                    </div><!--end Container-->
                </div><!-- end grey background-->
            </div><!-- end -->
        </apex:define>
    </apex:composition>
</apex:page>