<apex:page docType="html-5.0" sidebar="false" showHeader="false">
  
    <style type="text/css">
        p { font-weight: bold; font-size: 18px; color: green}
    </style>
    
    <p>This record was successfully add/removed. </p>
    The new status will be reflected on the record only after it is manually refreshed.  

</apex:page>