<!--
Action Plans v3
Force.com Labs
http://appexchange.salesforce.com/listingDetail?listingId=a0N30000003HcINEA0

Copyright (c) 2011, salesforce.com, Inc.
All rights reserved.

Redistribution and use in source and binary forms, with or without modification, 
are permitted provided that the following conditions are met:

    * Redistributions of source code must retain the above copyright notice, 
    this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above copyright notice, 
    this list of conditions and the following disclaimer in the documentation 
    and/or other materials provided with the distribution.
    * Neither the name of the salesforce.com, Inc. nor the names of its contributors 
    may be used to endorse or promote products derived from this software 
    without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND 
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, 
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, 
BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, 
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF 
LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE 
OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED 
OF THE POSSIBILITY OF SUCH DAMAGE.

-->
<apex:page id="importTemplate" tabStyle="Action_Plans_Template_Import__tab" controller="footprints.ImportTemplateController">

	<apex:sectionHeader title="{!$Label.footprints__ap_Action_Plan}" subtitle="{!$Label.footprints__ap_ImportExport_SubTitle}" help="/help/doc/user_ed.jsp?loc=help" />
    
    <div id="rptminitabsall">
        <div id="rptminitabstabs">
            <div class="miniTab secondaryPalette">
                <ul class="miniTabList">
                    <li class="currentTab">
                    	<apex:outputLink id="minitab_2" value="/apex/ActionPlanTemplateImport">{!$Label.footprints__ap_Import}</apex:outputLink>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <br/>
    
    <apex:form id="theForm" onSubmit="return fileUpload.verify();">
      <apex:pageBlock id="pageBlock">
          <apex:pageBlockSection id="blockSection" columns="1" >
          	<apex:outputText value="{!$Label.footprints__ap_Note} : {!$Label.footprints__ap_import_Note}" escape="false"/><br /><br />
          	<b>{!$Label.ap_import_file}</b><br /><br />
            <apex:inputFile id="fileInput" value="{!attachment.body}" filename="{!attachment.name}"/>
            <br />
            <apex:commandButton id="btnImport" value="{!$Label.footprints__ap_Import}" action="{!importTemplate}"/>
            <apex:messages id="errorMsg" style="color:red;"/>
            <div id="errors" style="color:red;"></div>
          </apex:pageBlockSection>
       </apex:pageBlock>
    </apex:form>
    
    <script type="text/javascript">
    
    	fileUpload = {
    		verify : function(){
				var file 	= document.getElementById('importTemplate:theForm:pageBlock:blockSection:fileInput').getElementsByTagName('input')[0];	
				var error 	= document.getElementById('errors');
				var error_field = document.getElementById('importTemplate:theForm:pageBlock:blockSection:errorMsg');
				if (error_field){
					error_field.innerHTML = '';
				}
				
				
				if( file.files.length == 0 ){
					error.innerHTML = "{!$Label.ap_Errors_SelectXML}";
					return false;
				}	
				else{
					var fileName 		= file.files[0].fileName;
					var filenameSplit 	= fileName.split('.');
					
					if( filenameSplit.length == 1){
						error.innerHTML = "{$Label.ap_Errors_SelectCorrectXML}";
						return false;
					}
					else{
						if( filenameSplit[ filenameSplit.length -1 ] != 'xml' ){
							error.innerHTML = "{!$Label.ap_Errors_SelectCorrectXMLExtension}";
							return false;
						}
						else{
							return true;
						}
					}
				}
    		}
    	}
    </script>
</apex:page>