<!--
Action Plans v3
Force.com Labs
http://appexchange.salesforce.com/listingDetail?listingId=a0N30000003HcINEA0

Copyright (c) 2011, salesforce.com, Inc.
All rights reserved.

Redistribution and use in source and binary forms, with or without modification, 
are permitted provided that the following conditions are met:

    * Redistributions of source code must retain the above copyright notice, 
    this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above copyright notice, 
    this list of conditions and the following disclaimer in the documentation 
    and/or other materials provided with the distribution.
    * Neither the name of the salesforce.com, Inc. nor the names of its contributors 
    may be used to endorse or promote products derived from this software 
    without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND 
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, 
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, 
BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, 
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF 
LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE 
OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED 
OF THE POSSIBILITY OF SUCH DAMAGE.

-->
<apex:page standardController="footprints__ActionPlanTemplate__c" extensions="footprints.ActionPlanTemplateDetailController" action="{!exportTemplateToXMLDoc}" >

    <apex:pageBlock title="Template XML Export Process">
        <table>
            <apex:outputPanel layout="none" rendered="{!ISNULL(actionPlanExportXMLDoc)}">
                <tr>
                    <td>Your template could not successfully be exported to an XML document.</td>
                </tr>   
                </apex:outputPanel>
                <apex:outputPanel layout="none" rendered="{!NOT(ISNULL(actionPlanExportXMLDoc))}">
                <tr>
                    <td>The XML file for your template has been successfully created, and can be found in your Salesforce documents folder.</td>
                </tr>
                <tr>
                    <td><br/></td>
                </tr>
                <tr>
                    <td><a href="/{!actionPlanExportXMLDoc.id}">Click here</a> to view the XML file in your Salesforce documents folder.</td>
                </tr>
            </apex:outputPanel>
            <tr>
                <td><br/></td>
            </tr>
            <tr>
                <td><a href="/apex/ActionPlanTemplateDetail?Id={!actionPlanTemplate.Id}">Click here</a> to return to the template.</td>
            </tr>
            <tr>
                <td>
                	<br/><br/><br/>
                	<span>Do you want to share this template with others on the Action Plans Template page? Simply email it to <a href="mailto:labs@salesforce.com">labs@salesforce.com</a></span>
                </td>
            </tr>
        </table> 
    </apex:pageBlock>
</apex:page>