<!--
Action Plans v3
Force.com Labs
http://appexchange.salesforce.com/listingDetail?listingId=a0N30000003HcINEA0

Copyright (c) 2011, salesforce.com, Inc.
All rights reserved.

Redistribution and use in source and binary forms, with or without modification, 
are permitted provided that the following conditions are met:

    * Redistributions of source code must retain the above copyright notice, 
    this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above copyright notice, 
    this list of conditions and the following disclaimer in the documentation 
    and/or other materials provided with the distribution.
    * Neither the name of the salesforce.com, Inc. nor the names of its contributors 
    may be used to endorse or promote products derived from this software 
    without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND 
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, 
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, 
BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, 
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF 
LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE 
OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED 
OF THE POSSIBILITY OF SUCH DAMAGE.

-->
<apex:page id="editPage" tabStyle="footprints__ActionPlanTemplate__c" standardController="footprints__ActionPlanTemplate__c" extensions="footprints.ActionPlanTemplateCreationController" >
    
    <script>
    	var AP_ITSELF_TASK_DEPENDENCY	= '{!$Label.ap_ItselfDependencyError}';
    	var AP_REMOVE_CYCLIC_DEPENDENCY = '{!$Label.ap_Error_Cyclic_Dependency_Found}';
    	var AP_DAYS_AFTER_MSG			= "{!$Label.ap_days_after_msg}";
    	var AP_TASKS_CONFIRM_MSG		= "{!$Label.ap_Confirm_Tasks_Deletion}";
    </script>
    <script type="text/javascript" src="{!$Resource.ActionPlan_Utilities}"></script>
	<apex:includeScript value="{!$Resource.footprints__ActionPlan_ActionPlanTemplateCreationScripts}"/>
	<apex:stylesheet value="{!$Resource.footprints__ActionPlan_ActionPlanTemplateCreationStyles}"/>
    
    <apex:sectionHeader title="{!$Label.footprints__ap_ActionPlanTemplates} {!$Label.footprints__ap_Edit}" subtitle="{!$Label.footprints__ap_New} {!$Label.footprints__ap_Action_Plan_Template}" help="/help/doc/user_ed.jsp?loc=help" />
    
    <apex:form id="templateForm">
        
        <apex:outputPanel rendered="{!(actionPlanTemplate.Id != null)}">
            <apex:inputHidden value="{!actionPlanTemplate.Id}" id="Id" />
        </apex:outputPanel>
        
        <apex:pageBlock id="editBlock" title="{!$Label.footprints__ap_Action_Plan_Template} {!$Label.footprints__ap_Edit}" mode="edit">
        
            <apex:pageBlockButtons id="buttons" >
                <apex:commandButton id="save" action="{!checkCycleDependent}" value="{!$Label.footprints__ap_Save}"/>
                <apex:commandButton id="cancel" action="{!cancelTemplate}" value="{!$Label.footprints__ap_Cancel}" immediate="true"/>
            </apex:pageBlockButtons>
           
            <!-- Information Section -->
            <apex:pageBlockSection id="informationSection" title="{!$Label.footprints__ap_Information}" columns="1">
           
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.footprints__ActionPlanTemplate__c.fields.Name.label}"/>
					<apex:inputField required="true" id="name" value="{!actionPlanTemplate.Name}" style="width:300px"/>	
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
	                <apex:outputLabel value="{!$ObjectType.footprints__ActionPlanTemplate__c.fields.footprints__Description__c.label}"/>
	                <apex:inputField id="description" value="{!actionPlanTemplate.footprints__Description__c}" style="width:300px"/>
                </apex:pageBlockSectionItem>
                
            </apex:pageBlockSection>
            <!-- End Information Section -->
            
            <!-- Tasks Section -->
            <apex:pageBlockSection id="taskSection" title="{!$Label.footprints__ap_Tasks}" columns="1"> 
            
                <apex:panelGrid columns="2">
                    <apex:outputText >
                    	<apex:inputCheckbox value="{!actionPlanTemplate.footprints__SkipWeekends__c}"  id="skipWeekendCheckbox" onclick="ActionPlanTemplateCreationScripts.checkSkipWeekend();"/>
                    </apex:outputText>
                    <apex:outputText value="{!$Label.footprints__ap_SkipWeekendsWhen}"/>
                </apex:panelGrid>
                
                <apex:panelGrid columns="2" id="skipDayTable">
                    <apex:outputText >{!$Label.footprints__ap_DefaultWeekendDueDates}</apex:outputText> 
                    <apex:outputText >
                    	<apex:pageBlockSectionItem >
                    		<apex:inputField value="{!actionPlanTemplate.footprints__SkipDay__c}" />
                    	</apex:pageBlockSectionItem>
                    </apex:outputText>
                </apex:panelGrid>
                
                <br />                
                
                <apex:outputPanel id="taskList">
                	<div>
	                	<div id="tasksListLoader" style="display:none">
	                		<div id="tasksListLoaderMessage" style="text-align:center">(loading...)</div>
	                	</div>
	                	<div>
		                    <apex:dataTable value="{!TemplateTasks}" var="wrapTask" id="taskTable" columnClasses="first,second,third,fourth,fifth,sixth, seventh, eighth" styleClass="taskTable">
		
		                        <apex:column id="columnOne" headerValue="" styleClass="first">
		                             <apex:commandLink rerender="taskList,taskStatus, informationSection" 
		                             		immediate="{!wrapTask.isLast}" 
		                             		action="{!removeTemplateTask}" 
		                             		rendered="{!TemplateTasks.size > 1}"
		                             		onclick="if (ActionPlanTemplateCreationScripts.confirmTaskDeletion('{!$Component.taskTable.dependent}')) return false; javascript:ActionPlanTemplateCreationScripts.showTasksListLoader();"
                    						oncomplete="javascript:showErrors(); ActionPlanTemplateCreationScripts.checkReminderPicklists(); javascript:ActionPlanTemplateCreationScripts.hideTasksListLoader();"> 
		                                 <img src="{!$Resource.ActionPlans_cross}" alt="{!$Label.ap_Remove} "/>
		                                 <apex:param name="remove" value="{!wrapTask.position}"/>
		                              </apex:commandLink>
		                        </apex:column>
		                        
		                        <apex:column headerValue="{!$ObjectType.footprints__APTTaskTemplate__c.fields.footprints__Subject__c.label}">
		                        	<apex:pageBlockSectionItem id="subjectSection">
		                        		<apex:inputField id="subject" required="true" value="{!wrapTask.task.footprints__Subject__c}" />
		                        	</apex:pageBlockSectionItem>
		                        </apex:column>
		                        
		                        <apex:column headerValue="{!$ObjectType.footprints__APTTaskTemplate__c.fields.footprints__APTTaskTemplate__c.label}" rendered="{!IF(TemplateTaskSize > 1, true, false)}">
		                            <apex:selectList id="dependent" value="{!wrapTask.task.footprints__Dependent__c}" multiselect="false" size="1" style="width:85px;" onchange="javascript:ActionPlanTemplateCreationScripts.checkDependent('{!$Component.taskTable.dependent}');">
		                                <apex:selectOptions value="{!TemplateSubjectItems}" />
		                            </apex:selectList>
		                          <apex:inputHidden value="{!wrapTask.task.footprints__taskIndex__c}" id="theHiddenInput"/>
		                        </apex:column>
		                        
		                        <apex:column >
		                        
		                   			<apex:facet name="header">{!$ObjectType.APTTaskTemplate__c.fields.DaysFromStart__c.label}
										<span id="daysAfterTtip_help" class="helpButton">
											<img class="helpOrb" title="{!$Label.ap_days_after_msg}" src="/s.gif"/>
										</span>
									</apex:facet>
		                        
		                        	<apex:pageBlockSectionItem >
		                        		<apex:inputField required="true" value="{!wrapTask.task.footprints__DaysFromStart__c}" style="width:50px"/>
		                       		</apex:pageBlockSectionItem>
		                        </apex:column>
		                        
		                        <apex:column headerValue="{!$ObjectType.footprints__APTTaskTemplate__c.fields.footprints__User__c.label}">
		                        	<apex:pageBlockSectionItem >
		                        		<apex:inputField required="false" value="{!wrapTask.task.footprints__User__c}" />
		                        	</apex:pageBlockSectionItem>
		                        </apex:column>
		                        
		                        <apex:column headerValue="{!$ObjectType.footprints__APTTaskTemplate__c.fields.footprints__Type__c.label}">
		                        	<apex:pageBlockSectionItem >
		                        		<apex:inputField required="true" value="{!wrapTask.task.footprints__Type__c}"/>
		                        	</apex:pageBlockSectionItem>
		                        </apex:column>
		                        
		                        <apex:column headerValue="{!$ObjectType.footprints__APTTaskTemplate__c.fields.footprints__Priority__c.label}">
		                        	<apex:pageBlockSectionItem >
		                        		<apex:inputField required="true" value="{!wrapTask.task.footprints__Priority__c}"/>
		                        	</apex:pageBlockSectionItem>
		                        </apex:column>
		                   
		                        <apex:column >
		                        	<apex:facet name="header">
		                            	{!$ObjectType.APTTaskTemplate__c.fields.SendEmail__c.label} <br/>
		                            	<a id="all" onclick="javascript:ActionPlanTemplateCreationScripts.checkEmail(1);" class="all-none">{!$Label.ap_All}</a> | 
		                            	<a id="none" onclick="javascript:ActionPlanTemplateCreationScripts.checkEmail(0);" class="all-none">{!$Label.ap_None}</a>
		                            </apex:facet>
		                        	<apex:pageBlockSectionItem id="emailSection">
		                        		<apex:inputField id="email" value="{!wrapTask.task.footprints__SendEmail__c}"/>
		                        	</apex:pageBlockSectionItem>
		                        </apex:column>
		                        
		                        <apex:column rendered="{!displayReminder}"  headerClass="reminderTpl">
		                        	<apex:facet name="header">
		                        		{!$ObjectType.APTTaskTemplate__c.fields.Reminder__c.label} <br/>
		                        		<a id="reminderAll" onclick="javascript:ActionPlanTemplateCreationScripts.checkReminder(1);" class="all-none">{!$Label.ap_All}</a> | 
		                        		<a id="reminderNone" onclick="javascript:ActionPlanTemplateCreationScripts.checkReminder(0);" class="all-none">{!$Label.ap_None}</a>
		                        	</apex:facet>
			                       	<apex:pageBlockSectionItem id="reminderSection">
			                       		<apex:inputField id="reminder" value="{!wrapTask.task.footprints__Reminder__c}" style="float:left;"/>
			                       	</apex:pageBlockSectionItem>
			                    </apex:column>
		                       
		                        <apex:column headerValue="{!$ObjectType.footprints__APTTaskTemplate__c.fields.footprints__Comments__c.label}">
		                        	<apex:outputPanel id="commentPanel" style="display:none">
		                        		<div id="commentContainer">
			                        		<div class="hd">
			                        			<div class="hd-left">{!$Label.ap_Comments}</div>
			                        			<div class="hd-right">
			                        				<input class="btn" style="margin-bottom:1px;" type="button" onclick="javascript:ActionPlanTemplateCreationScripts.hideComments('{!$Component.taskTable.columnOne}');" title="Close" name="closeCommentPanel" value=" {!$Label.ap_Close} "/></div>
			                        			</div>
			                        		<div class="bd">
			                        			<apex:inputField id="Comments" value="{!wrapTask.task.footprints__Comments__c}" onchange="document.getElementById('{!$Component.taskTable.columnOne}-commentLink').innerHTML= '...'"/>
			                        		</div>
		                        		</div>
		                        	</apex:outputPanel>
		                        	(<a id="{!$Component.taskTable.columnOne}-commentLink" onclick="javascript:ActionPlanTemplateCreationScripts.showComments('{!$Component.taskTable.columnOne}');" style="text-decoration:underline">
		                        		<apex:outputText rendered="{!wrapTask.task.footprints__Comments__c != null}">...</apex:outputText><apex:outputText rendered="{!wrapTask.task.footprints__Comments__c == null}">{!$Label.footprints__ap_Add}</apex:outputText>
		                        	</a>)
		                        </apex:column>
		                        
		                    </apex:dataTable>
		            	</div>
                    </div>
                </apex:outputPanel>
                
                <apex:panelGrid columns="2">
                    <apex:outputText >
                    	<apex:commandLink action="{!addTemplateTask}" 
                    			rerender="taskList, taskStatus, informationSection" 
                    			status="taskStatus" 
                    			style="font-weight:bold"
                    			onclick="javascript:ActionPlanTemplateCreationScripts.showTasksListLoader();"
                    			oncomplete="javascript:showErrors(); javascript:ActionPlanTemplateCreationScripts.hideTasksListLoader();">
	                        {!$Label.footprints__ap_AddNewTask}
	                        <apex:param name="add" value="1"/>
                    	</apex:commandLink>
                    </apex:outputText>
                    <apex:outputText style="color:#cc0000 !important;">&nbsp;
						<apex:actionStatus id="taskStatus">
                    		<apex:facet name="start">
                    			<apex:outputText value="(loading...)"/>
                    		</apex:facet>
                    		<apex:facet name="stop">
                    			<apex:outputText value="{!$Label.footprints__ap_Error}: {!ErrorMsg}" styleClass="errorMessage" rendered="{!(ErrorMsg != null)}"/>
                    		</apex:facet>
                    	</apex:actionStatus>
                    </apex:outputText>
                </apex:panelGrid>
                
            </apex:pageBlockSection>
            <!-- End Tasks Section -->
            
            <div id="error" style="text-align:center">
            	<span class="pbError">{!$Label.ap_Errors_Review_Errors}</span>
            </div>
            
        </apex:pageBlock>
        <script type="text/javascript">
        	ActionPlanTemplateCreationScripts.checkSkipWeekend();
        	showErrors();
    	</script>
    </apex:form>
</apex:page>