<apex:page showHeader="false" sidebar="false">
    <apex:composition template="BSC_SiteTemplate">
        <apex:define name="body">
            <div id="locations">
                <div class="grey-background">
                        <div class="container">
                            <div class="breadcrumb">
                               <a href="{!$Site.prefix}/AuthenticatedHomePage">{!$Label.Boston_Breadcrumbs_Home}</a> > {!$Label.Boston_Locations}
                            </div>

                            <div class="introTxt">
                                <h2>{!$Label.Boston_Locations}</h2>
<div class="text-container">
        <p> <p><b>{!$Label.Boston_Scientific_Europe_Headquarters}</b><br/>
Parc Val Saint Quentin - Bâtiment H<br/>
2 Rue René Caudron<br/>
78960 Voisins-le-Bretonneux<br/>
France<br/>
Tel: + 33 1 39 30 97 00<br/>
Fax: + 33 1 39 30 97 99</p>
<p><b>Austria</b><br/>
Boston Scientific<br/>
Vienna Twin Tower<br/>
Turm A/ 19 OG<br/>
Wienerbergstrasse 11<br/>
1100 Vienna<br/>
Austria<br/>
Tel: +43 (1) 60-810<br/>
Fax: +43 (1) 60-810 60</p>
<p><b>Belgium</b><br/>
Boston Scientific Benelux NV<br/>
Green Square, Lambroekstraat 5D<br/>
1831 Diegem<br/>
Belgium<br/>
Tel: +32 (2) 416-7011</p>
<p><b>Czech Republic</b><br/>
Boston Scientific ceská republika s.r.o.<br/>
Karla Engliše 3219/4<br/>
150 00 Praha 5<br/>
Tel: +420 (296) 331-901<br/>
Tel: +420 (296) 331-900<br/>
Fax: +420 (296) 331-902</p>
<p><b>France</b><br/>
Boston Scientific Europe/Middle East/Africa Headquarters<br/>
Parc Val Saint Quentin - Bâtiment H<br/>
2 Rue René Caudron<br/>
78960 Voisins-le-Bretonneux<br/>
France<br/>
Tel.: + 33 1 39 30 97 00<br/>
Fax: + 33 1 39 30 97 99</p>
<p><b>Germany</b><br/>
Boston Scientific Medizintechnik GmbH<br/>
Daniel-Goldbach-Straße 17 - 27<br/>
40880 Ratingen<br/>
Germany<br/>
Tel: +49 (0) 2102-489-3<br/>
Fax +49 (0) 2102-489-439</p>
<p><b>Greece</b><br/>
Boston Scientific Hellas<br/>
336 Vouliagmenis Ave &amp; 1 Griva Digeni<br/>
17342 Agios Dimitrios<br/>
Athens, Greece</p>
<p><b>Ireland</b><br/>
Boston Scientific - Clonmel<br/>
Cashel Rd.<br/>
Clonmel<br/>
Co Tipperary<br/>
Ireland<br/>
Tel: +353 (52) 618-1000<br/>
Fax: +353 (52) 618-1001</p>
<p><b>Boston Scientific - Cork</b><br/>
Business and Technology Park<br/>
Model Farm Road<br/>
Cork, Ireland<br/>
Tel: +353 (21) 453-1000</p>
<p><b>Boston Scientific - Galway</b><br/>
Ballybrit Business Park<br/>
Ballybrit,<br/>
Galway, Ireland<br/>
Tel: +353 (91) 756-300</p>
<p><b>Italy</b><br/>
Boston Scientific SpA<br/>
Viale Enrico Forlanini, 23<br/>
20134 Milan<br/>
Italy<br/>
Tel: +39 (02) 269-831<br/>
Fax: +39 (02) 269-83230</p>
<p>Boston Scientific, SpA<br/>
Via Lungomare Giuseppe Canepa, 55 - 3°floor<br/>
16149 Genova<br/>
Italy<br/>
Tel: +39 (010) 60601<br/>
Fax: +39 (010) 6060200</p>
<p><b>Netherlands</b></p>
<p>Dutch Sales Office<br/>
Boston Scientific Nederland B.V.<br/>
Riverbuilding, 6th floor<br/>
Haarlerbergweg 23-G<br/>
1101 CH  Amsterdam Zuid-Oost<br/>
Netherlands<br/>
Tel: +31 (30) 602-5555<br/>
</p>
<p>&nbsp;</p>
<p><b>Boston Scientific Maastricht</b><br/>
Gaetano Martinolaan 50<br/>
6229 GS Maastricht<br/>
Netherlands<br/>
Tel: +31 (43) 356-8220</p>
<p><b>Boston Scientific – Kerkrade</b><br/>
Vestastraat 6<br/>
6468 EX Kerkrade<br/>
Netherlands<br/>
Tel: +31 (45) 546-7700<br/>
Fax: +31 (45) 546-7800</p>
<p><b>Poland</b><br/>
Boston Scientific Polska Sp. Z.o.o<br/>
Al. Jana Pawla II 80<br/>
Warszawa, Poland 00-175<br/>
Tel: +48 (22) 435-1414<br/>
Fax: +48 (22) 435-1410</p>
<p><b>Portugal</b><br/>
Boston Scientific<br/>
Amoreiras Plaza<br/>
R. Prof. Carlos Alberto Mota Pinto<br/>
Nº 9 – 4º C<br/>
1070-374 Lisboa<br/>
Portugal</p>
<p><b style="line-height: 1em;">Russia<br/>
 </b><span style="line-height: 1em;">Moscow Representative Office of Boston Scientific International B.V. (Netherlands)<br/>
 72, Leningradskiy prospect, bld.2,<br/>
 Moscow, 125315, Russia<br/>
 Tel: +7 495 780 43 30<br/>
 Email:&nbsp;<a href="mailto:info-Russia@bsci.com">info-Russia@bsci.com</a></span></p>
<p><b>Spain</b><br/>
Boston Scientific Iberica S.A<br/>
Parque Empresarial Puerta de las Naciones<br/>
C/ Ribera del Loira, 38. Edificio 4-1ª planta<br/>
28042 Madrid<br/>
Spain<br/>
Tel: +34 (91) 657 25 45</p>
<p><b>Sweden</b><br/>
Boston Scientific Nordic AB<br/>
Ronnowsgatan 10<br/>
252 25 Helsingborg<br/>
Sweden<br/>
Tel: +46 (42) 25-69-00</p>
<p><b>Switzerland</b><br/>
Boston Scientific AG<br/>
Dornacherplatz 7<br/>
CH-4500 Solothurn<br/>
Switzerland<br/>
Tel: +0041 (32) 626-57-00<br/>
Fax: +41 (32) 626-57-01</p>
<p><b>Turkey</b><br/>
Boston Scientific Tip Gereçleri Ltd Sti<br/>
Altunizade Mah. Ord. Prof. Fahrettin Kerim Gokay Cad<br/>
No.45-1 34662 Üsküdar Istanbul<br/>
Turkey<br/>
Tel: +90 (216) 544-47-00<br/>
Fax: +90 (216) 544 47 01</p>
<p><b>United Kingdom</b><br/>
<span class="cq-rte-line-height-01">Boston Scientific</span></p>
<p><span class="cq-rte-line-height-01">Breakspear Park</span></p>
<p><span class="cq-rte-line-height-01">Breakspear Way</span></p>
<p><span class="cq-rte-line-height-01">Hemel Hempstead</span></p>
<p><span class="cq-rte-line-height-01">Herts. HP2 4TZ</span></p>
<p><span class="cq-rte-line-height-01">United Kingdom</span></p>
<p><span class="cq-rte-line-height-01">Tel: +44(0)1442 411 600</span></p>
<p><span class="cq-rte-line-height-01">Fax: +44(0)1442 411 601</span></p>
<p>&nbsp;</p>
<p><span class="cq-rte-line-height-01">Boston Scientific - Men's Health (AMS)</span></p>
<p><span class="cq-rte-line-height-01">Part 13th Floor, GW1</span></p>
<p><span class="cq-rte-line-height-01">Great West House</span></p>
<p><span class="cq-rte-line-height-01">Great West Road</span></p>
<p><span class="cq-rte-line-height-01">Brentford TW8 9DF</span></p>
<p><span class="cq-rte-line-height-01">England</span></p>
<p><span class="cq-rte-line-height-01">Tel: + 44 208 996 3100</span></p>
<p><span class="cq-rte-line-height-01">Fax: + 44 208 560 7722</span></p>
<p>&nbsp;</p>
 </p>
    </div>

    
                            </div>
                            







                        </div><!--end Container-->
                    </div><!-- end grey background-->
                    </div><!-- End #Locations-->
        </apex:define>
     </apex:composition>
</apex:page>