<apex:page showHeader="false" sidebar="false" applyHtmlTag="false" controller="MDPERSONATOR.MD_DataHelper" action="{!processData}" contentType="application/x-JavaScript; charset=utf-8" standardStylesheets="false">
  <apex:outputText value="{!dataTableJson }"></apex:outputText>
</apex:page>