<apex:page showHeader="false" sidebar="false"  controller="openq.IteractionTabbedTemplateClass" standardStylesheets="false">
	<apex:pageMessages id="pgMsgs"/>
	<apex:includescript value="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></apex:includescript>
    <apex:includescript value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></apex:includescript>
	<apex:stylesheet value="{!URLFOR($Resource.openq__Styles_StandAlone, 'css/customJQUI.css')}"/>
	<apex:stylesheet value="{!URLFOR($Resource.openq__Styles_StandAlone, 'css/jquery-ui.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.openq__StylesScriptsImages, 'css/common.css')}"/>
	<apex:stylesheet value="{!URLFOR($Resource.openq__StylesScriptsImages, 'css/style2.css')}"/>
	<apex:stylesheet value="{!URLFOR($Resource.openq__StylesScriptsImages, 'css/autoSuggest.css')}"/>
	<apex:stylesheet value="{!URLFOR($Resource.openq__StylesScriptsImages, 'css/f-combobox.css')}"/>
	<apex:stylesheet value="{!URLFOR($Resource.openq__StylesScriptsImages, 'css/f-numberControl.css')}"/>
	
    <apex:stylesheet value="{!URLFOR($Resource.openq__StylesScriptsImages, 'css/jquery.multiselect.css')}"/>
	<apex:includeScript value="{!URLFOR($Resource.openq__StylesScriptsImages, 'scripts/jquery.scrollTo-min.js')}"/>
	<apex:includeScript value="{!URLFOR($Resource.openq__StylesScriptsImages, 'scripts/jquery-autoSuggest2.js')}"/>
	<apex:includeScript value="{!URLFOR($Resource.openq__StylesScriptsImages, 'scripts/ui.combobox.r.js')}"/>
	<apex:includeScript value="{!URLFOR($Resource.openq__StylesScriptsImages, 'scripts/f-combobox.js')}"/>
	<apex:includeScript value="{!URLFOR($Resource.openq__StylesScriptsImages, 'scripts/common-functions.js')}"/>
	<apex:includeScript value="{!URLFOR($Resource.openq__StylesScriptsImages, 'scripts/f-numberControl.js')}"/>
	<apex:includeScript value="{!URLFOR($Resource.openq__StylesScriptsImages, 'scripts/script.js')}"/>
	<apex:includeScript value="{!URLFOR($Resource.openq__StylesScriptsImages, 'scripts/jquery.multiselect.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.openq__StylesScriptsImages, 'scripts/jquery.timepicker.js')}"/>      
    <!--[if IE]>
	<apex:stylesheet value="{!URLFOR($Resource.Styles_StandAlone, 'css/ie.css')}"/>
	<![endif]-->
	    
    <style>
    .ui-widget-combobox + .ui-button .ui-icon {
		
			background: url({!URLFOR($Resource.StylesScriptsImages,'img/main-nav-sprite.png')}) no-repeat 0 -368px;
		}
		
		.lookupIcon {
			
			position: absolute;
			cursor: pointer;			
		}
    .ui-datepicker-prev span {
			width: 20px;
			height: 20px;
			background-position: 0 -20px;
			cursor: pointer;
			background-image: url({!URLFOR($Resource.StylesScriptsImages,'img/datepicker-arrows.png')});
		}
		
		.ui-widget-combobox + .ui-button .ui-icon {
		
			background: url({!URLFOR($Resource.StylesScriptsImages,'img/main-nav-sprite.png')}) no-repeat 0 -368px;
		}
		
		.lookupIcon {
			
			position: absolute;
			cursor: pointer;			
		}
		
		.lookupIcon:hover {
			background-position: top right;
		}
		.ui-multiselect-header {
            background-color: #b2ca45;
		}
		
		.ui-multiselect-header a  {
            color: #FFFFFF;		  
		}
		
		.ui-multiselect-header a:hover {
            color: #FFFFFF;     
            text-decoration: underline !important;  
        }
        
        .multiSelectPL_OP {
            display: none;
        }
        
        #usersdiv .lookupIcon {
        
            position: relative !important;
        }
        
        .assignToTr [id$=assignedUser] {
            left : -30px;
            width : 0;
            position : fixed;
        } 
        
        .assignToTr [id$=assignedUser_mlktp] {
            
            display : none;
        }  
        /* css for timepicker */
		.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
		.ui-timepicker-div dl { text-align: left; }
		.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
		.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
		.ui-timepicker-div td { font-size: 90%; }
		.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
		
		.ui-timepicker-rtl{ direction: rtl; }
		.ui-timepicker-rtl dl { text-align: right; }
		.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }   
		
		*:focus { 
			outline: none; 
		}
	
		#bodyTable {
			background-color: #E6E6E5;
		}	
		
		#rightContainer {
			min-width: 665px;
			float: none;
			margin-right: 0px;
			margin-left: 20px;
			margin-top: 40px;
			font-family: Verdana, sans-serif;	
		}
		
		/* 	tabs styles */
		
		.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
		
			position: absolute;
			margin-top: -52px !important;
			background: none;
			border: none;
		}
		
		.ui-state-default.ui-corner-top {
			background-color: #fafafa;
		}
		
		#tabs {
			border: none;
			display: none;
			font-size: 12px;
		}
		
		.ui-tabs-active.ui-state-active {
			background-color: #b2ca45;			
		}
		
		.ui-tabs-active.ui-state-active a {
			color: white;
		}
		
		.ui-widget-content a {
			text-decoration: none;
		}
		
		.ui-datepicker-next{
		    background-image: url({!URLFOR($Resource.StylesScriptsImages,'/img/datepicker-arrows.png')});
		    background-position: 0 0;
		    cursor: pointer;
		    height: 20px;
		    width: 20px;
		}
		
		.ui-datepicker-prev{
		 	background-image: url({!URLFOR($Resource.StylesScriptsImages,'/img/datepicker-arrows.png')});
		    background-position: 0 -16px;
		    cursor: pointer;
		    height: 20px;
		    width: 20px;
		}
		
		.ui-state-active:hover{
			color:#555555 !important;
		}
		
		.ui-state-hover {
			color:#555555 !important;
		}
		
		.ui-dialog-titlebar {
			background-color: #B2CA45;
			border: none;
			color: #FFF;
		}
		.ui-tabs .ui-tabs-nav li {
		    height: 26px;
		    padding: 0;
		}
		
		<!-- Although these styles should be in interactionsdashboard.page, background-images don't work in Internet explorer when we do (SFDC Bug? )-->
		
		/*dashboard*/
		.settings {    
	   		width: 16px;
			height: 16px;
			background-position: 0px -1px;			
			background-image: url({!URLFOR($Resource.StandaloneCommonImages,'img/cogsprite.png')});
		}
	
		.arrowSortIcon{
		
			position: absolute;
			float: right;
			top: 3px;
			height: 16px;
			width: 16px;
			background-image: url({!URLFOR($Resource.StandaloneCommonImages,'img/arrowUpDown.png')});
		}
		
		.newObject{	    
			background-image: url({!URLFOR($Resource.StylesScriptsImages,'img/plus.png')}) !important;
	    }
	    .easyAdd{
	    	background-image: url({!URLFOR($Resource.StylesScriptsImages,'img/plus.png')}) !important;
	    }
		
		<!--[if IE]>
		.requiredField{
		
			width: 1px;
			position: absolute;
			margin-top: 22px;
			margin-left: -5px;
		}
		<![endif]-->
		
	</style>
	<c:WaitComponent />
	<div id="rightContainer" class="wi-gen gr b-card shado conc">
		<apex:outputPanel id="rightContentPanel">
			<apex:outputPanel id="tabbedPanel">						
				<div id="tabs">
					<!-- Tab headers -->					
					<ul id="tabHeaders">			
						<!-- Fixed tabs -->
						<li><a href="#dashboardTab" onclick="if(currentTab == '0'){return false;}else{waitOn();changeTabFnc(0);}">My Dashboard</a></li>
						<li><a href="#createTab" onclick="if(currentTab == '1'){return false;}else{waitOn();changeTabFnc(1);}"  > Create Interaction</a></li>			
						<li><a href="#myInteraction"  onclick="if(currentTab == '2'){return false;}else{waitOn();changeTabFnc(2);}" >My Interactions</a></li>
						<li><a href="#globalInteraction" onclick="if(currentTab == '3'){return false;}else{waitOn();changeTabFnc(3);}" >Search Interactions</a></li>					
				  	</ul>
					<apex:form id="interactionModuleForm">
					  	<!-- Actual tab content -->
					  	<!-- Dashboard tab content -->
					  				
				  		<div id="dashboardTab">
					  				<apex:insert name="dashboard" />
				 	 	</div>
					  	
					  	<!-- Create Interaction tab content -->
					  	<div id="createTab">
						  			<apex:insert name="create"  />
					  	</div>
					  	<div id="myInteraction">
					  		<apex:outputPanel layout="none" id="SearchInteractionOwn">
								<c:SearchMirfs id="own" isGlobalSearch="false" ObjectNameAttr="Interaction__c" detailUrlAttr="{!$Page.openq__interactionsdashboard}" rendered="{!tabIndex==2}" />
							</apex:outputPanel>
					  	</div>
					  	<div id="globalInteraction">
					  		<apex:outputPanel layout="none" id="SearchInteractionGlobal">
								<c:SearchMirfs id="global" isGlobalSearch="true" ObjectNameAttr="Interaction__c" detailUrlAttr="{!$Page.openq__interactionsdashboard}" rendered="{!tabIndex==3}" />
							</apex:outputPanel>
					  	</div>
						  	<apex:actionFunction name="changeTabFncc" action="{!changeTab}" rerender="SearchInteractionOwn,SearchInteractionGlobal,currentTabBlock" oncomplete="changeTabCallBack('{!tabIndex}');">
						  		<apex:param value="" name="tabIndex" assignTo="{!tabIndex}" />
						  	</apex:actionFunction>
				  	</apex:form>
				</div>
			</apex:outputPanel>
		</apex:outputPanel>
	</div>
		<apex:outputPanel id="currentTabBlock">
			<script>
			var currentTab ='{!tabIndex}';
			</script>
		</apex:outputPanel>
	
	<script>
		/*check if current browser is ie*/
				function ieversion(){

			 // IE 10 only CSS properties
			 var ie10Styles = [
			     'msTouchAction',
			     'msWrapFlow',
			     'msWrapMargin',
			     'msWrapThrough',
			     'msOverflowStyle',
			     'msScrollChaining',
			     'msScrollLimit',
			     'msScrollLimitXMin',
			     'msScrollLimitYMin',
			     'msScrollLimitXMax',
			     'msScrollLimitYMax',
			     'msScrollRails',
			     'msScrollSnapPointsX',
			     'msScrollSnapPointsY',
			     'msScrollSnapType',
			     'msScrollSnapX',
			     'msScrollSnapY',
			     'msScrollTranslation',
			     'msFlexbox',
			     'msFlex',
			     'msFlexOrder'];
			
			 var ie11Styles = [
			     'msTextCombineHorizontal'];
			 
			 var ieVersion = null;
			 var property; 
			 var s =document.body.style
			 for (var i = 0; i < ie10Styles.length; i++) {
			     property = ie10Styles[i];
			
			     if (s[property] != undefined) {
			         ieVersion = 10; 
			     }
			 }
			
			 // Test IE11 properties
			 for (var i = 0; i < ie11Styles.length; i++) {
			     property = ie11Styles[i];
			     if (s[property] != undefined) {
			         ieVersion = 11; 
			     }
			 }
			return ieVersion;
			}
        function getInternetExplorerVersion()
			// Returns the version of Internet Explorer or a -1
			// (indicating the use of another browser).
			{
			var rv = -1; // Return value assumes failure.
			if (navigator.appName == 'Microsoft Internet Explorer')
			{
			var ua = navigator.userAgent;
			var re = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
			
			if (re.exec(ua) != null) rv = parseFloat( RegExp.$1 );
			}
			if(ieversion()!=undefined){
				return ieversion();
			}
			return rv;
		}
		/*****/
		function changeTabFnc(e){
			changeTabFncc(e);
		}
		function changeTabCallBack(e){
			var pageLayoutSelectable = ((jQuery('#urlID').val() == '' || jQuery('#urlID').val() == null || jQuery('#urlID').val() == undefined)&& jQuery('#selectPagelayoutId').val()=='true'); 
			currentTab = e;
			refreshInteractionComp(e);
			if(pageLayoutSelectable || e == '0'){
				mustWaitOff(e);
			}
			if(e!='1'){
				clearInteractionForm();
			}
			if(e == '1'){ 
				if(!pageLayoutSelectable){
					displayPL();
				}
			}
			jQuery('#tabs').tabs({active: parseInt(e)});
		}
		
		function clearInteractionForm(){
			waitOn();
			try{if(attrComp!=undefined)attrComp.clear();}catch(exception){}
			clearInteractionFn();
			jQuery('#tabHeaders a:nth(1)').html('Create Interaction');
		}
		jQuery(document).ready(function(){
			waitOn();
			prepareTabs();			
			
			mustWaitOff('{!tabIndex}');
			
			setTimeout('goToInitTab()','2000');
			
		});
		
		function goToInitTab(){
			jQuery('#tabs').tabs({active: parseInt(currentTab)});
			var pageLayoutSelectable = ((jQuery('#urlID').val() == '' || jQuery('#urlID').val() == null || jQuery('#urlID').val() == undefined)&& jQuery('#selectPagelayoutId').val()=='true'); 
		}
		function refreshInteractionComp(e){
			if(e=='2' || e=='3'){
				refreshSearchMirf();
			}
		
		}
		function isCrome(){
			var is_chrome = window.chrome;
			return is_chrome != undefined;
		}
		
		function isIE () {
		  var myNav = navigator.userAgent.toLowerCase();
		  return (myNav.indexOf('msie') != -1);
		}
		
		function prepareTabs() {
			jQuery( '#tabs' ).tabs({
				create: function( event, ui ) {
                    jQuery('#tabs').show();
                },
                activate: function( event, ui ) {
                	switch(jQuery(ui.newPanel).attr("id")){
                		case "dashboardTab":
                			break;
                			
                		case "createTab":
                			if((jQuery('#urlID').val() == '' || jQuery('#urlID').val() == null || jQuery('#urlID').val() == undefined)&& jQuery('#selectPagelayoutId').val()=='true'){
			         	openPageLayoutPopUp();	 
                			}
                			
               				break;
                		case "#myInteraction":
                		 
                			break;
                			
                		case "#globalInteraction":
                			 
                			break;
                	}
                }
			});
			
			if(isCrome()){
					jQuery('#tabHeaders').css({'position':'absolute','top':'8px'});
				jQuery('<div style=" clear: both;height: 1px; width: 1px;"></div>').insertAfter('#tabHeaders');
			}else if(getInternetExplorerVersion()!= -1){
				if(getInternetExplorerVersion()== 8 || getInternetExplorerVersion()== 9){
					jQuery('#tabs').css('margin-top','0px');
					jQuery('#tabHeaders').css({'position':'absolute','top':'12px'});
					jQuery('<div style=" clear: both;height: 1px; width: 1px;"></div>').insertAfter('#tabHeaders');
				}else{
		 			jQuery('#tabHeaders').css({'position':'absolute','top':'8px'});
					jQuery('<div style=" clear: both;height: 1px; width: 1px;"></div>').insertAfter('#tabHeaders');
				}
		 	}else{
		 			jQuery('#tabHeaders').css({'position':'absolute','top':'8px'});
				jQuery('<div style=" clear: both;height: 1px; width: 1px;"></div>').insertAfter('#tabHeaders');
		 	}
  
			
		}
		function mustWaitOff(e){
			if(e=='0')waitOff();
		
		}
	</script>
	
</apex:page>