<apex:page standardController="Opportunity"
	title="Pain Map: {!Opportunity.Name} - {!Opportunity.Patient__r.Name}"
	extensions="NMD_PainMapExtension">
	
	<apex:sectionHeader title="Pain Map" subtitle="{!Opportunity.Name}"/>
	<apex:iframe src="{!URLFOR($Page.PainMapSF1, null, [id=Opportunity.Id,isdtp='p1'])}" frameborder="true" width="1024" height="684"/>

</apex:page>