<apex:page standardController="Account_Performance__c" extensions="EndoTableauReportExtension" showHeader="true" sidebar="false">
    <apex:pageMessages id="message1"/>
    <!-- <apex:iframe src="{!finalLink}" id="theIframe" Scrolling="true" rendered="{!If(((NOT($User.UITheme == 'Theme4t')) && (currentuserProfile.Name=='System Administrator' || currentuserProfile.Name=='Support Admin' || currentuserProfile.Name=='BSci System Admin' || currentuserProfile.Name=='US ENDO User') && isError != true),true,false) }"/> -->
    <!-- Tableau Account Performance Report - ENDO user starts-->        
        <apex:variable id="ENDO" var="ENDOSiteRoot" value="{!IF(CONTAINS(finalLink, $Label.TableauSF1SiteRoot_SalesReportingCheck),$Label.TableauSF1SiteRoot_SalesReporting,'')}" />      
      
        <apex:canvasApp applicationName="Tableau" height="636px" width="804px" 
         parameters="
        {
            'ts.siteRoot':'/t/SalesReporting',
            'ts.javascriptLib':'https://tableau.bsci.com/javascripts/api/viz_v1.js',
            'ts.tabs':'Yes',
            'ts.hostUrl':'https://tableau.bsci.com/',
            'ts.name': '{!$Label.EndoTableauReportSF1}',
            'ts.trustedTicket.host':'tableau.bsci.com',
            'ts.filter':'Customer Num={!SAPAccountId}',
            'ts.trustedTicket.signedIdentity':'{!signedIdentity}'
            
        }"  rendered="{! If(($User.UITheme == 'Theme4t') && isError != true && (currentuserProfile.Name=='System Administrator' || currentuserProfile.Name=='Support Admin' || currentuserProfile.Name=='BSci System Admin' || currentuserProfile.Name=='US ENDO User'),true,false) }"/>   
   
      <apex:iframe src="{!finalLink}" Scrolling="true" id="theIframe_Endo" rendered="{! If((NOT($User.UITheme == 'Theme4t')) && isError != true && (currentuserProfile.Name=='System Administrator' || currentuserProfile.Name=='Support Admin' || currentuserProfile.Name=='BSci System Admin' ||  currentuserProfile.Name=='US ENDO User' ),true,false) }"/>
      <!-- Tableau Sales Performance Report - ENDO user ends -->   
    
    
    
    
     <!-- Tableau Account Performance Report - ANZ user starts-->        
        <apex:variable id="ANZ" var="ANZSiteRoot" value="{!IF(CONTAINS(finalLinkforanzusers, $Label.TableauSF1SiteRoot_SalesReportingCheck),$Label.TableauSF1SiteRoot_SalesReporting,'')}" />      
      
        <apex:canvasApp applicationName="Tableau" height="636px" width="804px" 
         parameters="
        {
            'ts.siteRoot':'/t/SalesReporting',
            'ts.javascriptLib':'https://tableau.bsci.com/javascripts/api/viz_v1.js',
            'ts.tabs':'Yes',
            'ts.hostUrl':'https://tableau.bsci.com/',
            'ts.name': '{!$Label.ANZ_Sales_Transactional_History_Report_SF1}',
            'ts.trustedTicket.host':'tableau.bsci.com',
            'ts.filter':'Customer Num={!SAPAccountId}',
            'ts.trustedTicket.signedIdentity':'{!signedIdentity}'
            
        }"  rendered="{! If(($User.UITheme == 'Theme4t') && isError != true && (currentuserProfile.Name=='System Administrator' || currentuserProfile.Name=='Support Admin' || currentuserProfile.Name=='BSci System Admin' || currentuserProfile.Name=='ANZ Sales Support' || currentuserProfile.Name=='ANZ Corporate Accounts User'),true,false) }"/>   
   
      <apex:iframe src="{!finalLinkforanzusers}" Scrolling="true" id="theIframe_ANZ" rendered="{! If((NOT($User.UITheme == 'Theme4t')) && isError != true && (currentuserProfile.Name=='System Administrator' || currentuserProfile.Name=='Support Admin' || currentuserProfile.Name=='BSci System Admin' || currentuserProfile.Name=='ANZ Sales Support' || currentuserProfile.Name=='ANZ Corporate Accounts User' ),true,false) }"/>
      <!-- Tableau Sales Performance Report - ANZ user ends -->   
    
     <!-- <apex:iframe src="{!finalLinkforanzusers}" id="theIframe2" Scrolling="true" rendered="{!If(((currentuserProfile.Name=='System Administrator' || currentuserProfile.Name=='Support Admin' || currentuserProfile.Name=='BSci System Admin' || currentuserProfile.Name=='ANZ Sales User' || currentuserProfile.Name=='ANZ Sales Support' || currentuserProfile.Name=='ANZ Corporate Accounts User')&& NOT(isError) ),true,false) }"/> -->
    <apex:outputText rendered="{!isError}" value="{!str}"></apex:outputText>
</apex:page>